In [1]:
#https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1410005801

import pandas as pd
df = pd.read_csv("14100058.csv")

df.shape

(2069496, 17)

In [2]:
df.head(5)

,REF_DATE,GEO,DGUID,Type of work sought and search method,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,15 years and over,Persons,249,thousands,3,v3469253,1.1.1.1,815.7,NaN,NaN,NaN,1
1,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,15 to 24 years,Persons,249,thousands,3,v3469266,1.1.1.2,375.9,NaN,NaN,NaN,1
2,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,25 years and over,Persons,249,thousands,3,v3469279,1.1.1.3,439.8,NaN,NaN,NaN,1
3,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,25 to 44 years,Persons,249,thousands,3,v3469292,1.1.1.4,293.1,NaN,NaN,NaN,1
4,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,45 years and over,Persons,249,thousands,3,v3469305,1.1.1.5,146.7,NaN,NaN,NaN,1

In [3]:
#REMOVE NOT NEEDED COLUMNS
#--------------------------
df1 = df.iloc[:,[0,1,3,4,5,12]]

#CREATE AN INDEX FOR ONLY 2020 and 2019 YEARS
#--------------------------------------------
regex_date = "2020.*|2019.*"
series_date = df1.iloc[:,0]
index_date = series_date.str.contains(regex_date)
index_date

#REMOVE NOT NEEDED DATES
#--------------------------
df2 = df1[index_date]

In [4]:
df2

,REF_DATE,GEO,Type of work sought and search method,Sex,Age group,VALUE
1992276,2019-01,Canada,Total unemployed,Both sexes,15 years and over,1218.6
1992277,2019-01,Canada,Total unemployed,Both sexes,15 to 24 years,304.3
1992278,2019-01,Canada,Total unemployed,Both sexes,25 years and over,914.3
1992279,2019-01,Canada,Total unemployed,Both sexes,25 to 44 years,479.1
1992280,2019-01,Canada,Total unemployed,Both sexes,45 years and over,435.2
...,...,...,...,...,...,...
2069491,2020-08,British Columbia,Looked-used other methods,Females,45 years and over,5.6
2069492,2020-08,British Columbia,Looked-used other methods,Females,25 to 54 years,13.0
2069493,2020-08,British Columbia,Looked-used other methods,Females,55 years and over,1.8
2069494,2020-08,British Columbia,Looked-used other methods,Females,55 to 64 years,NaN
2069495,2020-08,British Columbia,Looked-used other methods,Females,65 years and over,NaN

In [5]:
#CREATE AN INDEX FOR ONLY "to" VALUES
#--------------------------------------------
regex_Age = ".*to.*24.*|.*to.*54.*|55 to 64 years|65 years and over|15 years and over"
series_Age = df2.iloc[:,4]
index_Age = series_Age.str.contains(regex_Age)
index_Age

1992276     True
1992277     True
1992278    False
1992279    False
1992280    False
           ...
2069491    False
2069492     True
2069493    False
2069494     True
2069495     True
Name: Age group, Length: 77220, dtype: bool

In [6]:
#REMOVE NOT NEEDED Ages
#--------------------------
df3 = df2[index_Age]

In [7]:
#CHECK UNIQUE VALUES OF COLUMN
#------------------------------
listvalcol = set(list(df3.iloc[:,4]))
listvalcol

{'15 to 24 years',
 '15 years and over',
 '25 to 54 years',
 '55 to 64 years',
 '65 years and over'}

In [8]:
#Ignore the red warning
df3['GEO'] = df3['GEO'].apply(lambda x: x.replace('Canada','ALL'))
df3['Sex'] = df3['Sex'].apply(lambda x: x.replace('Both sexes','ALL'))
df3['Age group'] = df3['Age group'].apply(lambda x: x.replace('15 years and over','ALL'))

<ipython-input-8-406389997b4b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['GEO'] = df3['GEO'].apply(lambda x: x.replace('Canada','ALL'))
<ipython-input-8-406389997b4b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Sex'] = df3['Sex'].apply(lambda x: x.replace('Both sexes','ALL'))
<ipython-input-8-406389997b4b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Age group'] = df3['Age group'].apply(lambda x: x.replace('15 years and over','ALL'))

In [9]:
#CHECK UNIQUE VALUES OF COLUMN
#------------------------------
listvalcol = set(list(df3.iloc[:,1]))
listvalcol

{'ALL',
 'Alberta',
 'British Columbia',
 'Manitoba',
 'New Brunswick',
 'Newfoundland and Labrador',
 'Nova Scotia',
 'Ontario',
 'Prince Edward Island',
 'Quebec',
 'Saskatchewan'}

In [10]:
df3

,REF_DATE,GEO,Type of work sought and search method,Sex,Age group,VALUE
1992276,2019-01,ALL,Total unemployed,ALL,ALL,1218.6
1992277,2019-01,ALL,Total unemployed,ALL,15 to 24 years,304.3
1992281,2019-01,ALL,Total unemployed,ALL,25 to 54 years,671.7
1992283,2019-01,ALL,Total unemployed,ALL,55 to 64 years,202.5
1992284,2019-01,ALL,Total unemployed,ALL,65 years and over,40.2
...,...,...,...,...,...,...
2069487,2020-08,British Columbia,Looked-used other methods,Females,ALL,18.8
2069488,2020-08,British Columbia,Looked-used other methods,Females,15 to 24 years,4.0
2069492,2020-08,British Columbia,Looked-used other methods,Females,25 to 54 years,13.0
2069494,2020-08,British Columbia,Looked-used other methods,Females,55 to 64 years,NaN
2069495,2020-08,British Columbia,Looked-used other methods,Females,65 years and over,NaN

In [11]:
index_DATES_2019 = df3.pipe(lambda x: x['REF_DATE'] == "2020-07")
test = df3[index_DATES_2019]
index_GEO = test.pipe(lambda x: x['GEO'] == 'ALL')
test = test[index_GEO]
test.groupby(['REF_DATE','GEO','Age group','Sex']).sum()

                                         VALUE
REF_DATE GEO Age group         Sex
2020-07  ALL 15 to 24 years    ALL      3080.0
                               Females  1373.7
                               Males    1706.6
             25 to 54 years    ALL      4543.7
                               Females  2311.5
                               Males    2231.9
             55 to 64 years    ALL      1018.3
                               Females   449.3
                               Males     568.0
             65 years and over ALL       240.6
                               Females    98.0
                               Males     139.6
             ALL               ALL      8882.9
                               Females  4235.4
                               Males    4647.0

In [12]:
#RENAME COLUMNS
#--------------
df3 = df3.rename({
                'REF_DATE': 'date',
                'GEO': 'location',
                'Type of work sought and search method': 'search_method',
                'Sex': 'gender',
                'Age group': 'age',
                'VALUE': 'count_value'
}, axis='columns')

df3

,date,location,search_method,gender,age,count_value
1992276,2019-01,ALL,Total unemployed,ALL,ALL,1218.6
1992277,2019-01,ALL,Total unemployed,ALL,15 to 24 years,304.3
1992281,2019-01,ALL,Total unemployed,ALL,25 to 54 years,671.7
1992283,2019-01,ALL,Total unemployed,ALL,55 to 64 years,202.5
1992284,2019-01,ALL,Total unemployed,ALL,65 years and over,40.2
...,...,...,...,...,...,...
2069487,2020-08,British Columbia,Looked-used other methods,Females,ALL,18.8
2069488,2020-08,British Columbia,Looked-used other methods,Females,15 to 24 years,4.0
2069492,2020-08,British Columbia,Looked-used other methods,Females,25 to 54 years,13.0
2069494,2020-08,British Columbia,Looked-used other methods,Females,55 to 64 years,NaN
2069495,2020-08,British Columbia,Looked-used other methods,Females,65 years and over,NaN

In [13]:
#VIEW FOR THE API'
df3.groupby(['date','location','age','gender']).sum()

                                                count_value
date    location     age               gender
2019-01 ALL          15 to 24 years    ALL           1162.2
                                       Females        457.5
                                       Males          704.2
                     25 to 54 years    ALL           2687.4
                                       Females       1143.0
...                                                     ...
2020-08 Saskatchewan 65 years and over Females          0.5
                                       Males            4.4
                     ALL               ALL            201.6
                                       Females        102.8
                                       Males           98.7

[3300 rows x 1 columns]

In [14]:
#RAW DATA ON TABULAR FORMAT, WILL AGREGATE USING DJANGO
#OUTPUT DATAFRAME
(df3).to_csv('unemployment_dataSet.csv', sep = ',', index=False)

In [15]:
index_gender_all = df3.pipe(lambda x: x['gender'] != "ALL")
test = df3[index_gender_all]
index_location_all = test.pipe(lambda x: x['location'] != "ALL")
test = test[index_location_all]
index_age_all = test.pipe(lambda x: x['age'] != "ALL")
test = test[index_age_all]

In [16]:
test.groupby(['date','location','age','gender']).sum()

                                                count_value
date    location     age               gender
2019-01 Alberta      15 to 24 years    Females         50.2
                                       Males           81.1
                     25 to 54 years    Females        169.2
                                       Males          260.3
                     55 to 64 years    Females         41.3
...                                                     ...
2020-08 Saskatchewan 25 to 54 years    Males           43.5
                     55 to 64 years    Females         13.2
                                       Males           13.7
                     65 years and over Females          0.5
                                       Males            4.4

[1600 rows x 1 columns]

In [17]:
#BUILD RATIO COLUMN

test['percent'] = (test['count_value'] / test['count_value'].sum()) * 100
test.groupby(['date','location','age','gender']).sum()

                                                count_value   percent
date    location     age               gender
2019-01 Alberta      15 to 24 years    Females         50.2  0.046020
                                       Males           81.1  0.074347
                     25 to 54 years    Females        169.2  0.155110
                                       Males          260.3  0.238624
                     55 to 64 years    Females         41.3  0.037861
...                                                     ...       ...
2020-08 Saskatchewan 25 to 54 years    Males           43.5  0.039878
                     55 to 64 years    Females         13.2  0.012101
                                       Males           13.7  0.012559
                     65 years and over Females          0.5  0.000458
                                       Males            4.4  0.004034

[1600 rows x 2 columns]

In [18]:
test.groupby('date').sum()

         count_value   percent
date
2019-01       4678.4  4.288813
2019-02       4661.0  4.272862
2019-03       4684.6  4.294497
2019-04       4553.0  4.173855
2019-05       4268.2  3.912772
2019-06       4124.3  3.780855
2019-07       4634.3  4.248385
2019-08       4740.9  4.346108
2019-09       3959.6  3.629870
2019-10       3921.2  3.594668
2019-11       4282.6  3.925973
2019-12       3949.7  3.620794
2020-01       4397.1  4.030938
2020-02       4607.8  4.224092
2020-03       5671.0  5.198755
2020-04       7243.3  6.640124
2020-05       8546.0  7.834344
2020-06       8610.7  7.893656
2020-07       8793.2  8.060959
2020-08       8756.9  8.027681

In [19]:
#CHANGE count datatype to int currently is float64 because there are nan values
import numpy as np
test['count_value'] = test['count_value'].fillna(0).astype(np.int64)

#CHANGE date datatype date, currently is string
import datetime
test['date'] = pd.to_datetime(test['date'])

In [20]:
#(test).to_csv('tabular_dataSet.csv', sep = ',', index=False)

In [21]:
final = test.groupby(['date','location']).sum().reset_index()

In [22]:
#(final).to_csv('tabular_dataSet.csv', sep = ',', index=False)

In [23]:
import json
result = final.to_json(orient="records")
result

'[{"date":1546300800000,"location":"Alberta","count_value":673,"percent":0.6401500498},{"date":1546300800000,"location":"British Columbia","count_value":490,"percent":0.4761476956},{"date":1546300800000,"location":"Manitoba","count_value":126,"percent":0.1361338714},{"date":1546300800000,"location":"New Brunswick","count_value":95,"percent":0.1088154245},{"date":1546300800000,"location":"Newfoundland and Labrador","count_value":96,"percent":0.1082653886},{"date":1546300800000,"location":"Nova Scotia","count_value":107,"percent":0.121191231},{"date":1546300800000,"location":"Ontario","count_value":1745,"percent":1.6309479501},{"date":1546300800000,"location":"Prince Edward Island","count_value":17,"percent":0.0334605138},{"date":1546300800000,"location":"Quebec","count_value":959,"percent":0.9122344473},{"date":1546300800000,"location":"Saskatchewan","count_value":104,"percent":0.1214662489},{"date":1548979200000,"location":"Alberta","count_value":724,"percent":0.6929534908},{"date":1548979200000,"location":"British Columbia","count_value":453,"percent":0.4378285318},{"date":1548979200000,"location":"Manitoba","count_value":111,"percent":0.1227496659},{"date":1548979200000,"location":"New Brunswick","count_value":102,"percent":0.118624397},{"date":1548979200000,"location":"Newfoundland and Labrador","count_value":96,"percent":0.1092737877},{"date":1548979200000,"location":"Nova Scotia","count_value":100,"percent":0.1125740027},{"date":1548979200000,"location":"Ontario","count_value":1714,"percent":1.6028961221},{"date":1548979200000,"location":"Prince Edward Island","count_value":15,"percent":0.0322687695},{"date":1548979200000,"location":"Quebec","count_value":970,"percent":0.9224101104},{"date":1548979200000,"location":"Saskatchewan","count_value":114,"percent":0.1212829036},{"date":1551398400000,"location":"Alberta","count_value":657,"percent":0.6292410055},{"date":1551398400000,"location":"British Columbia","count_value":440,"percent":0.4236192725},{"date":1551398400000,"location":"Manitoba","count_value":101,"percent":0.1137657471},{"date":1551398400000,"location":"New Brunswick","count_value":89,"percent":0.1053318641},{"date":1551398400000,"location":"Newfoundland and Labrador","count_value":88,"percent":0.1025816849},{"date":1551398400000,"location":"Nova Scotia","count_value":94,"percent":0.1067986264},{"date":1551398400000,"location":"Ontario","count_value":1919,"percent":1.7944919411},{"date":1551398400000,"location":"Prince Edward Island","count_value":15,"percent":0.0305269893},{"date":1551398400000,"location":"Quebec","count_value":932,"percent":0.8836325834},{"date":1551398400000,"location":"Saskatchewan","count_value":94,"percent":0.1045068104},{"date":1554076800000,"location":"Alberta","count_value":649,"percent":0.6199820688},{"date":1554076800000,"location":"British Columbia","count_value":450,"percent":0.4357200611},{"date":1554076800000,"location":"Manitoba","count_value":110,"percent":0.121191231},{"date":1554076800000,"location":"New Brunswick","count_value":89,"percent":0.1051485188},{"date":1554076800000,"location":"Newfoundland and Labrador","count_value":85,"percent":0.1040484472},{"date":1554076800000,"location":"Nova Scotia","count_value":97,"percent":0.1146824735},{"date":1554076800000,"location":"Ontario","count_value":1849,"percent":1.7275709134},{"date":1554076800000,"location":"Prince Edward Island","count_value":12,"percent":0.0301602988},{"date":1554076800000,"location":"Quebec","count_value":836,"percent":0.7953518304},{"date":1554076800000,"location":"Saskatchewan","count_value":108,"percent":0.1199994866},{"date":1556668800000,"location":"Alberta","count_value":660,"percent":0.6327245659},{"date":1556668800000,"location":"British Columbia","count_value":422,"percent":0.4106017575},{"date":1556668800000,"location":"Manitoba","count_value":103,"percent":0.1171576348},{"date":1556668800000,"location":"New Brunswick","count_value":78,"percent":0.0900225331},{"date":1556668800000,"location":"Newfoundland and Labrador","count_value":88,"percent":0.1015732859},{"date":1556668800000,"location":"Nova Scotia","count_value":77,"percent":0.0954312189},{"date":1556668800000,"location":"Ontario","count_value":1715,"percent":1.6050045928},{"date":1556668800000,"location":"Prince Edward Island","count_value":6,"percent":0.02117638},{"date":1556668800000,"location":"Quebec","count_value":754,"percent":0.7243055339},{"date":1556668800000,"location":"Saskatchewan","count_value":101,"percent":0.1147741461},{"date":1559347200000,"location":"Alberta","count_value":625,"percent":0.6007308143},{"date":1559347200000,"location":"British Columbia","count_value":405,"percent":0.3939173369},{"date":1559347200000,"location":"Manitoba","count_value":104,"percent":0.1177076706},{"date":1559347200000,"location":"New Brunswick","count_value":67,"percent":0.0820470134},{"date":1559347200000,"location":"Newfoundland and Labrador","count_value":82,"percent":0.0961646001},{"date":1559347200000,"location":"Nova Scotia","count_value":83,"percent":0.1002898689},{"date":1559347200000,"location":"Ontario","count_value":1698,"percent":1.5884118448},{"date":1559347200000,"location":"Prince Edward Island","count_value":5,"percent":0.0182428555},{"date":1559347200000,"location":"Quebec","count_value":724,"percent":0.6900199663},{"date":1559347200000,"location":"Saskatchewan","count_value":81,"percent":0.0933227482},{"date":1561939200000,"location":"Alberta","count_value":742,"percent":0.7065210416},{"date":1561939200000,"location":"British Columbia","count_value":394,"percent":0.3836500012},{"date":1561939200000,"location":"Manitoba","count_value":135,"percent":0.1444760817},{"date":1561939200000,"location":"New Brunswick","count_value":78,"percent":0.0950645284},{"date":1561939200000,"location":"Newfoundland and Labrador","count_value":91,"percent":0.1041401198},{"date":1561939200000,"location":"Nova Scotia","count_value":110,"percent":0.1210995583},{"date":1561939200000,"location":"Ontario","count_value":1902,"percent":1.7757907224},{"date":1561939200000,"location":"Prince Edward Island","count_value":7,"percent":0.0199846357},{"date":1561939200000,"location":"Quebec","count_value":803,"percent":0.7682167288},{"date":1561939200000,"location":"Saskatchewan","count_value":113,"percent":0.1294417686},{"date":1564617600000,"location":"Alberta","count_value":763,"percent":0.7235721528},{"date":1564617600000,"location":"British Columbia","count_value":512,"percent":0.4979657841},{"date":1564617600000,"location":"Manitoba","count_value":131,"percent":0.1434676826},{"date":1564617600000,"location":"New Brunswick","count_value":83,"percent":0.1007482321},{"date":1564617600000,"location":"Newfoundland and Labrador","count_value":85,"percent":0.1031317208},{"date":1564617600000,"location":"Nova Scotia","count_value":131,"percent":0.1454844807},{"date":1564617600000,"location":"Ontario","count_value":1860,"percent":1.7360047963},{"date":1564617600000,"location":"Prince Edward Island","count_value":6,"percent":0.0170511112},{"date":1564617600000,"location":"Quebec","count_value":801,"percent":0.7608829175},{"date":1564617600000,"location":"Saskatchewan","count_value":102,"percent":0.1177993433},{"date":1567296000000,"location":"Alberta","count_value":598,"percent":0.5725873136},{"date":1567296000000,"location":"British Columbia","count_value":458,"percent":0.4434205629},{"date":1567296000000,"location":"Manitoba","count_value":91,"percent":0.1043234651},{"date":1567296000000,"location":"New Brunswick","count_value":64,"percent":0.0781050898},{"date":1567296000000,"location":"Newfoundland and Labrador","count_value":63,"percent":0.077555054},{"date":1567296000000,"location":"Nova Scotia","count_value":103,"percent":0.1160575631},{"date":1567296000000,"location":"Ontario","count_value":1521,"percent":1.424592836},{"date":1567296000000,"location":"Prince Edward Island","count_value":4,"percent":0.0178761649},{"date":1567296000000,"location":"Quebec","count_value":722,"percent":0.6949702889},{"date":1567296000000,"location":"Saskatchewan","count_value":87,"percent":0.1003815415},{"date":1569888000000,"location":"Alberta","count_value":628,"percent":0.6036643388},{"date":1569888000000,"location":"British Columbia","count_value":435,"percent":0.4223358556},{"date":1569888000000,"location":"Manitoba","count_value":100,"percent":0.1126656754},{"date":1569888000000,"location":"New Brunswick","count_value":65,"percent":0.07984687},{"date":1569888000000,"location":"Newfoundland and Labrador","count_value":64,"percent":0.0802135606},{"date":1569888000000,"location":"Nova Scotia","count_value":113,"percent":0.1264165715},{"date":1569888000000,"location":"Ontario","count_value":1457,"percent":1.3627138035},{"date":1569888000000,"location":"Prince Edward Island","count_value":6,"percent":0.0189762366},{"date":1569888000000,"location":"Quebec","count_value":730,"percent":0.6965287238},{"date":1569888000000,"location":"Saskatchewan","count_value":78,"percent":0.0913059501},{"date":1572566400000,"location":"Alberta","count_value":645,"percent":0.6178735981},{"date":1572566400000,"location":"British Columbia","count_value":506,"percent":0.4867817219},{"date":1572566400000,"location":"Manitoba","count_value":114,"percent":0.1262332262},{"date":1572566400000,"location":"New Brunswick","count_value":66,"percent":0.0810386143},{"date":1572566400000,"location":"Newfoundland and Labrador","count_value":70,"percent":0.0872723539},{"date":1572566400000,"location":"Nova Scotia","count_value":125,"percent":0.1388840506},{"date":1572566400000,"location":"Ontario","count_value":1537,"percent":1.4459525612},{"date":1572566400000,"location":"Prince Edward Island","count_value":6,"percent":0.0202596536},{"date":1572566400000,"location":"Quebec","count_value":849,"percent":0.8042440766},{"date":1572566400000,"location":"Saskatchewan","count_value":104,"percent":0.1174326527},{"date":1575158400000,"location":"Alberta","count_value":628,"percent":0.6003641237},{"date":1575158400000,"location":"British Columbia","count_value":421,"percent":0.4106017575},{"date":1575158400000,"location":"Manitoba","count_value":96,"percent":0.1069819717},{"date":1575158400000,"location":"New Brunswick","count_value":69,"percent":0.0792051615},{"date":1575158400000,"location":"Newfoundland and Labrador","count_value":83,"percent":0.093872784},{"date":1575158400000,"location":"Nova Scotia","count_value":111,"percent":0.1235747196},{"date":1575158400000,"location":"Ontario","count_value":1372,"percent":1.2904757627},{"date":1575158400000,"location":"Prince Edward Island","count_value":10,"percent":0.023468196},{"date":1575158400000,"location":"Quebec","count_value":828,"percent":0.7877430013},{"date":1575158400000,"location":"Saskatchewan","count_value":96,"percent":0.1045068104},{"date":1577836800000,"location":"Alberta","count_value":722,"percent":0.6927701455},{"date":1577836800000,"location":"British Columbia","count_value":427,"percent":0.4164688066},{"date":1577836800000,"location":"Manitoba","count_value":106,"percent":0.1187160697},{"date":1577836800000,"location":"New Brunswick","count_value":95,"percent":0.1078986981},{"date":1577836800000,"location":"Newfoundland and Labrador","count_value":87,"percent":0.1052401915},{"date":1577836800000,"location":"Nova Scotia","count_value":114,"percent":0.1304501677},{"date":1577836800000,"location":"Ontario","count_value":1559,"percent":1.4605285111},{"date":1577836800000,"location":"Prince Edward Island","count_value":11,"percent":0.0271351016},{"date":1577836800000,"location":"Quebec","count_value":898,"percent":0.8541139931},{"date":1577836800000,"location":"Saskatchewan","count_value":104,"percent":0.117615998},{"date":1580515200000,"location":"Alberta","count_value":694,"percent":0.6646266448},{"date":1580515200000,"location":"British Columbia","count_value":507,"percent":0.4966823671},{"date":1580515200000,"location":"Manitoba","count_value":120,"percent":0.129350096},{"date":1580515200000,"location":"New Brunswick","count_value":81,"percent":0.0962562727},{"date":1580515200000,"location":"Newfoundland and Labrador","count_value":88,"percent":0.1043234651},{"date":1580515200000,"location":"Nova Scotia","count_value":130,"percent":0.1470429156},{"date":1580515200000,"location":"Ontario","count_value":1724,"percent":1.6169220361},{"date":1580515200000,"location":"Prince Edward Island","count_value":11,"percent":0.0259433573},{"date":1580515200000,"location":"Quebec","count_value":859,"percent":0.8140530491},{"date":1580515200000,"location":"Saskatchewan","count_value":118,"percent":0.1288917328},{"date":1583020800000,"location":"Alberta","count_value":817,"percent":0.7750921768},{"date":1583020800000,"location":"British Columbia","count_value":669,"percent":0.6443669912},{"date":1583020800000,"location":"Manitoba","count_value":129,"percent":0.1422759383},{"date":1583020800000,"location":"New Brunswick","count_value":89,"percent":0.1108322226},{"date":1583020800000,"location":"Newfoundland and Labrador","count_value":86,"percent":0.1042317924},{"date":1583020800000,"location":"Nova Scotia","count_value":150,"percent":0.1616188655},{"date":1583020800000,"location":"Ontario","count_value":2135,"percent":1.9961717505},{"date":1583020800000,"location":"Prince Edward Island","count_value":10,"percent":0.0284185186},{"date":1583020800000,"location":"Quebec","count_value":1155,"percent":1.0904460607},{"date":1583020800000,"location":"Saskatchewan","count_value":131,"percent":0.1453011355},{"date":1585699200000,"location":"Alberta","count_value":1037,"percent":0.9783304212},{"date":1585699200000,"location":"British Columbia","count_value":774,"percent":0.7420900262},{"date":1585699200000,"location":"Manitoba","count_value":195,"percent":0.2004880651},{"date":1585699200000,"location":"New Brunswick","count_value":124,"percent":0.1353088176},{"date":1585699200000,"location":"Newfoundland and Labrador","count_value":93,"percent":0.1100071688},{"date":1585699200000,"location":"Nova Scotia","count_value":141,"percent":0.157401924},{"date":1585699200000,"location":"Ontario","count_value":2514,"percent":2.3403108436},{"date":1585699200000,"location":"Prince Edward Island","count_value":13,"percent":0.028326846},{"date":1585699200000,"location":"Quebec","count_value":1892,"percent":1.7630482253},{"date":1585699200000,"location":"Saskatchewan","count_value":176,"percent":0.1848120436},{"date":1588291200000,"location":"Alberta","count_value":1331,"percent":1.2524316168},{"date":1588291200000,"location":"British Columbia","count_value":1009,"percent":0.9534871356},{"date":1588291200000,"location":"Manitoba","count_value":205,"percent":0.2151556876},{"date":1588291200000,"location":"New Brunswick","count_value":127,"percent":0.142092593},{"date":1588291200000,"location":"Newfoundland and Labrador","count_value":113,"percent":0.1251331545},{"date":1588291200000,"location":"Nova Scotia","count_value":167,"percent":0.1813284832},{"date":1588291200000,"location":"Ontario","count_value":3437,"percent":3.1864493169},{"date":1588291200000,"location":"Prince Edward Island","count_value":14,"percent":0.0303436441},{"date":1588291200000,"location":"Quebec","count_value":1639,"percent":1.5301080454},{"date":1588291200000,"location":"Saskatchewan","count_value":205,"percent":0.2178141942},{"date":1590969600000,"location":"Alberta","count_value":1311,"percent":1.2337303981},{"date":1590969600000,"location":"British Columbia","count_value":1209,"percent":1.1403159773},{"date":1590969600000,"location":"Manitoba","count_value":203,"percent":0.2130472169},{"date":1590969600000,"location":"New Brunswick","count_value":92,"percent":0.1093654603},{"date":1590969600000,"location":"Newfoundland and Labrador","count_value":105,"percent":0.1215579215},{"date":1590969600000,"location":"Nova Scotia","count_value":176,"percent":0.1894873483},{"date":1590969600000,"location":"Ontario","count_value":3453,"percent":3.2026753743},{"date":1590969600000,"location":"Prince Edward Island","count_value":13,"percent":0.029335245},{"date":1590969600000,"location":"Quebec","count_value":1550,"percent":1.4483360499},{"date":1590969600000,"location":"Saskatchewan","count_value":196,"percent":0.2058050783},{"date":1593561600000,"location":"Alberta","count_value":1263,"percent":1.1891774947},{"date":1593561600000,"location":"British Columbia","count_value":1151,"percent":1.0876958815},{"date":1593561600000,"location":"Manitoba","count_value":210,"percent":0.2183642301},{"date":1593561600000,"location":"New Brunswick","count_value":99,"percent":0.1167909442},{"date":1593561600000,"location":"Newfoundland and Labrador","count_value":112,"percent":0.1261415536},{"date":1593561600000,"location":"Nova Scotia","count_value":170,"percent":0.1817868464},{"date":1593561600000,"location":"Ontario","count_value":3747,"percent":3.4688927228},{"date":1593561600000,"location":"Prince Edward Island","count_value":16,"percent":0.0328188054},{"date":1593561600000,"location":"Quebec","count_value":1547,"percent":1.4498944848},{"date":1593561600000,"location":"Saskatchewan","count_value":176,"percent":0.1893956756},{"date":1596240000000,"location":"Alberta","count_value":1283,"percent":1.2049451889},{"date":1596240000000,"location":"British Columbia","count_value":1093,"percent":1.0343424046},{"date":1596240000000,"location":"Manitoba","count_value":207,"percent":0.219922665},{"date":1596240000000,"location":"New Brunswick","count_value":98,"percent":0.1151408367},{"date":1596240000000,"location":"Newfoundland and Labrador","count_value":100,"percent":0.117615998},{"date":1596240000000,"location":"Nova Scotia","count_value":180,"percent":0.1897623662},{"date":1596240000000,"location":"Ontario","count_value":3728,"percent":3.4581670239},{"date":1596240000000,"location":"Prince Edward Island","count_value":9,"percent":0.0252099762},{"date":1596240000000,"location":"Quebec","count_value":1586,"percent":1.4828966354},{"date":1596240000000,"location":"Saskatchewan","count_value":165,"percent":0.1796783757}]'

In [24]:
'''
dic = { 
locations = 
    [{"Newfoundland and Labrador": [123,123,123]},
    {"Prince Edward Island": [123,123,123]}]}
    },
    
    [{"Newfoundland and Labrador": [123,123,123]},
    {"Prince Edward Island": [123,123,123]}]},
    }

dates = {xxxx,yyyyy,zzzzz}

'''

'\ndic = { \nlocations = \n    [{"Newfoundland and Labrador": [123,123,123]},\n    {"Prince Edward Island": [123,123,123]}]}\n    },\n    \n    [{"Newfoundland and Labrador": [123,123,123]},\n    {"Prince Edward Island": [123,123,123]}]},\n    }\n\ndates = {xxxx,yyyyy,zzzzz}\n\n'

In [25]:
final

          date                   location  count_value   percent
0   2019-01-01                    Alberta          673  0.640150
1   2019-01-01           British Columbia          490  0.476148
2   2019-01-01                   Manitoba          126  0.136134
3   2019-01-01              New Brunswick           95  0.108815
4   2019-01-01  Newfoundland and Labrador           96  0.108265
..         ...                        ...          ...       ...
195 2020-08-01                Nova Scotia          180  0.189762
196 2020-08-01                    Ontario         3728  3.458167
197 2020-08-01       Prince Edward Island            9  0.025210
198 2020-08-01                     Quebec         1586  1.482897
199 2020-08-01               Saskatchewan          165  0.179678

[200 rows x 4 columns]

In [33]:
#pivot data for dictionary:
'''
date = [ ...... ]
Alberta = [.....]
BC = [....... ]
'''
final.pivot(index='date' , columns='location', values='count_value')

location,Alberta,British Columbia,Manitoba,New Brunswick,Newfoundland and Labrador,Nova Scotia,Ontario,Prince Edward Island,Quebec,Saskatchewan
date,,,,,,,,,,
2019-01-01,673,490,126,95,96,107,1745,17,959,104
2019-02-01,724,453,111,102,96,100,1714,15,970,114
2019-03-01,657,440,101,89,88,94,1919,15,932,94
2019-04-01,649,450,110,89,85,97,1849,12,836,108
2019-05-01,660,422,103,78,88,77,1715,6,754,101
2019-06-01,625,405,104,67,82,83,1698,5,724,81
2019-07-01,742,394,135,78,91,110,1902,7,803,113
2019-08-01,763,512,131,83,85,131,1860,6,801,102
2019-09-01,598,458,91,64,63,103,1521,4,722,87
2019-10-01,628,435,100,65,64,113,1457,6,730,78
2019-11-01,645,506,114,66,70,125,1537,6,849,104
2019-12-01,628,421,96,69,83,111,1372,10,828,96
2020-01-01,722,427,106,95,87,114,1559,11,898,104
2020-02-01,694,507,120,81,88,130,1724,11,859,118
2020-03-01,817,669,129,89,86,150,2135,10,1155,131
2020-04-01,1037,774,195,124,93,141,2514,13,1892,176
2020-05-01,1331,1009,205,127,113,167,3437,14,1639,205
2020-06-01,1311,1209,203,92,105,176,3453,13,1550,196
2020-07-01,1263,1151,210,99,112,170,3747,16,1547,176
2020-08-01,1283,1093,207,98,100,180,3728,9,1586,165

In [27]:
(final.pivot(index='date' , columns='location', values='count_value')).to_csv('pivot_loc_dataSet.csv', sep = ',', index=True)