In [126]:
#https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1410005801

import pandas as pd
df = pd.read_csv("unemployment.csv")

df.shape

(2069496, 17)

In [178]:
df.head(5)

  REF_DATE     GEO           DGUID Type of work sought and search method         Sex          Age group      UOM  UOM_ID SCALAR_FACTOR  SCALAR_ID    VECTOR COORDINATE  VALUE STATUS  SYMBOL  TERMINATED  DECIMALS
0  1976-01  Canada  2016A000011124                      Total unemployed  Both sexes  15 years and over  Persons     249     thousands          3  v3469253    1.1.1.1  815.7    NaN     NaN         NaN         1
1  1976-01  Canada  2016A000011124                      Total unemployed  Both sexes     15 to 24 years  Persons     249     thousands          3  v3469266    1.1.1.2  375.9    NaN     NaN         NaN         1
2  1976-01  Canada  2016A000011124                      Total unemployed  Both sexes  25 years and over  Persons     249     thousands          3  v3469279    1.1.1.3  439.8    NaN     NaN         NaN         1
3  1976-01  Canada  2016A000011124                      Total unemployed  Both sexes     25 to 44 years  Persons     249     thousands          3  v3469292    1.1.1.4  293.1    NaN     NaN         NaN         1
4  1976-01  Canada  2016A000011124                      Total unemployed  Both sexes  45 years and over  Persons     249     thousands          3  v3469305    1.1.1.5  146.7    NaN     NaN         NaN         1

In [128]:
#LIST OF ALL COLUMNS
list_col = list(df.columns)
list_col

['REF_DATE',
 'GEO',
 'DGUID',
 'Type of work sought and search method',
 'Sex',
 'Age group',
 'UOM',
 'UOM_ID',
 'SCALAR_FACTOR',
 'SCALAR_ID',
 'VECTOR',
 'COORDINATE',
 'VALUE',
 'STATUS',
 'SYMBOL',
 'TERMINATED',
 'DECIMALS']

In [129]:
#SCHEEMA
df.dtypes

REF_DATE                                  object
GEO                                       object
DGUID                                     object
Type of work sought and search method     object
Sex                                       object
Age group                                 object
UOM                                       object
UOM_ID                                     int64
SCALAR_FACTOR                             object
SCALAR_ID                                  int64
VECTOR                                    object
COORDINATE                                object
VALUE                                    float64
STATUS                                    object
SYMBOL                                   float64
TERMINATED                               float64
DECIMALS                                   int64
dtype: object

In [130]:
#REMOVE NOT NEEDED COLUMNS
#--------------------------
df1 = df.iloc[:,[0,1,3,4,5,12]]

In [131]:
#CHECK UNIQUE VALUES OF COLUMN
#------------------------------
listvalcol = set(list(df.iloc[:,5]))
listvalcol

#NOTE ABSOLUTE VALUES ARE INCLUDED IN THE DATASET, THIS MEANS THAT RECORDS ARE REPEATED.

{'15 to 24 years',
 '15 years and over',
 '25 to 44 years',
 '25 to 54 years',
 '25 years and over',
 '45 years and over',
 '55 to 64 years',
 '55 years and over',
 '65 years and over'}

In [132]:
#CREATE AN INDEX FOR ONLY 2020 and 2019 YEARS
#--------------------------------------------
regex_date = "2020.*|2019.*"
series_date = df1.iloc[:,0]
index_date = series_date.str.contains(regex_date)
index_date

0          False
1          False
2          False
3          False
4          False
           ...
2069491     True
2069492     True
2069493     True
2069494     True
2069495     True
Name: REF_DATE, Length: 2069496, dtype: bool

In [133]:
#REMOVE NOT NEEDED DATES
#--------------------------
df2 = df1[index_date]

In [134]:
#CREATE AN INDEX FOR ONLY "to" VALUES
#--------------------------------------------
regex_Age = ".*to.*|65 years and over"
series_Age = df2.iloc[:,4]
index_Age = series_Age.str.contains(regex_Age)
index_Age

1992276    False
1992277     True
1992278    False
1992279     True
1992280    False
           ...
2069491    False
2069492     True
2069493    False
2069494     True
2069495     True
Name: Age group, Length: 77220, dtype: bool

In [135]:
#REMOVE NOT NEEDED Ages
#--------------------------
df3 = df2[index_Age]

In [136]:
#CREATE AN INDEX TO EXCLUDE "CANADA" FROM LOCATIONS
#--------------------------------------------
regex_location = "[^Canada]"
series_location = df3.iloc[:,1]
index_location = series_location.str.contains(regex_location)
index_location

1992277    False
1992279    False
1992281    False
1992283    False
1992284    False
           ...
2069488     True
2069490     True
2069492     True
2069494     True
2069495     True
Name: GEO, Length: 42900, dtype: bool

In [137]:
#CREATE AN INDEX TO EXCLUDE "CANADA" FROM LOCATIONS
#--------------------------------------------
regex_location = "[^Canada]"
series_location = df3.iloc[:,1]
index_location = series_location.str.contains(regex_location)
index_location

1992277    False
1992279    False
1992281    False
1992283    False
1992284    False
           ...
2069488     True
2069490     True
2069492     True
2069494     True
2069495     True
Name: GEO, Length: 42900, dtype: bool

In [138]:
df4 = df3[index_location]
df4

,REF_DATE,GEO,Type of work sought and search method,Sex,Age group,VALUE
1992628,2019-01,Newfoundland and Labrador,Total unemployed,Both sexes,15 to 24 years,5.3
1992630,2019-01,Newfoundland and Labrador,Total unemployed,Both sexes,25 to 44 years,11.5
1992632,2019-01,Newfoundland and Labrador,Total unemployed,Both sexes,25 to 54 years,19.2
1992634,2019-01,Newfoundland and Labrador,Total unemployed,Both sexes,55 to 64 years,7.7
1992635,2019-01,Newfoundland and Labrador,Total unemployed,Both sexes,65 years and over,1.5
...,...,...,...,...,...,...
2069488,2020-08,British Columbia,Looked-used other methods,Females,15 to 24 years,4.0
2069490,2020-08,British Columbia,Looked-used other methods,Females,25 to 44 years,9.2
2069492,2020-08,British Columbia,Looked-used other methods,Females,25 to 54 years,13.0
2069494,2020-08,British Columbia,Looked-used other methods,Females,55 to 64 years,NaN
2069495,2020-08,British Columbia,Looked-used other methods,Females,65 years and over,NaN

In [139]:
listvalcol = set(list(df4.iloc[:,4]))
listvalcol

{'15 to 24 years',
 '25 to 44 years',
 '25 to 54 years',
 '55 to 64 years',
 '65 years and over'}

In [140]:
#CLEAN GENDER BOTH ONE LINE INDEXING
#-----------------------------------
index_clean_sex = df4.pipe(lambda x: x['Sex'] != "Both sexes")
df5 = df4[index_clean_sex]
df5

,REF_DATE,GEO,Type of work sought and search method,Sex,Age group,VALUE
1992637,2019-01,Newfoundland and Labrador,Total unemployed,Males,15 to 24 years,3.6
1992639,2019-01,Newfoundland and Labrador,Total unemployed,Males,25 to 44 years,8.5
1992641,2019-01,Newfoundland and Labrador,Total unemployed,Males,25 to 54 years,13.7
1992643,2019-01,Newfoundland and Labrador,Total unemployed,Males,55 to 64 years,4.8
1992644,2019-01,Newfoundland and Labrador,Total unemployed,Males,65 years and over,1.1
...,...,...,...,...,...,...
2069488,2020-08,British Columbia,Looked-used other methods,Females,15 to 24 years,4.0
2069490,2020-08,British Columbia,Looked-used other methods,Females,25 to 44 years,9.2
2069492,2020-08,British Columbia,Looked-used other methods,Females,25 to 54 years,13.0
2069494,2020-08,British Columbia,Looked-used other methods,Females,55 to 64 years,NaN
2069495,2020-08,British Columbia,Looked-used other methods,Females,65 years and over,NaN

In [141]:
#RENAME COLUMNS
#--------------
df5 = df5.rename({
                'REF_DATE': 'date',
                'GEO': 'location',
                'Type of work sought and search method': 'search_method',
                'Sex': 'gender',
                'Age group': 'age',
                'VALUE': 'count_value'
}, axis='columns')

df5

,date,location,search_method,gender,age,count_value
1992637,2019-01,Newfoundland and Labrador,Total unemployed,Males,15 to 24 years,3.6
1992639,2019-01,Newfoundland and Labrador,Total unemployed,Males,25 to 44 years,8.5
1992641,2019-01,Newfoundland and Labrador,Total unemployed,Males,25 to 54 years,13.7
1992643,2019-01,Newfoundland and Labrador,Total unemployed,Males,55 to 64 years,4.8
1992644,2019-01,Newfoundland and Labrador,Total unemployed,Males,65 years and over,1.1
...,...,...,...,...,...,...
2069488,2020-08,British Columbia,Looked-used other methods,Females,15 to 24 years,4.0
2069490,2020-08,British Columbia,Looked-used other methods,Females,25 to 44 years,9.2
2069492,2020-08,British Columbia,Looked-used other methods,Females,25 to 54 years,13.0
2069494,2020-08,British Columbia,Looked-used other methods,Females,55 to 64 years,NaN
2069495,2020-08,British Columbia,Looked-used other methods,Females,65 years and over,NaN

In [142]:
#VALIDATION GROUP BY search_method
#--------------
df5.groupby(['date']).sum()

         count_value
date
2019-01       6595.0
2019-02       6518.1
2019-03       6574.8
2019-04       6416.1
2019-05       5910.1
2019-06       5778.9
2019-07       6450.8
2019-08       6659.8
2019-09       5527.6
2019-10       5484.6
2019-11       6079.3
2019-12       5609.7
2020-01       6302.6
2020-02       6536.3
2020-03       8071.9
2020-04      10338.8
2020-05      12042.4
2020-06      11854.4
2020-07      12122.1
2020-08      12049.4

In [143]:
#VALIDATION - PERCENTAGE OF TOTAL
#---------- -- -----
Total = df5['count_value'].sum()
x = df5.groupby(['location','gender','age']).sum()
x/Total

                                        count_value
location     gender  age
Alberta      Females 15 to 24 years        0.012025
                     25 to 44 years        0.020355
                     25 to 54 years        0.027510
                     55 to 64 years        0.006842
                     65 years and over     0.000252
...                                             ...
Saskatchewan Males   15 to 24 years        0.003306
                     25 to 44 years        0.004755
                     25 to 54 years        0.006138
                     55 to 64 years        0.001257
                     65 years and over     0.000207

[100 rows x 1 columns]

In [144]:
#CHANGE count datatype to int currently is float64 because there are nan values
import numpy as np
df5['count_value'] = df5['count_value'].fillna(0).astype(np.int64)

#CHANGE date datatype date, currently is string
import datetime
df5['date'] = pd.to_datetime(df5['date'])

In [145]:
#OUTPUT DATAFRAME
#(df5).to_csv('unemployment_dataSet.csv', sep = ',', index=False)

In [146]:
#CHECK IF THERE ARE DUPLICATES IN THE ORIGINAL DATAFRAME
df.head(5)

,REF_DATE,GEO,DGUID,Type of work sought and search method,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,15 years and over,Persons,249,thousands,3,v3469253,1.1.1.1,815.7,NaN,NaN,NaN,1
1,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,15 to 24 years,Persons,249,thousands,3,v3469266,1.1.1.2,375.9,NaN,NaN,NaN,1
2,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,25 years and over,Persons,249,thousands,3,v3469279,1.1.1.3,439.8,NaN,NaN,NaN,1
3,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,25 to 44 years,Persons,249,thousands,3,v3469292,1.1.1.4,293.1,NaN,NaN,NaN,1
4,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,45 years and over,Persons,249,thousands,3,v3469305,1.1.1.5,146.7,NaN,NaN,NaN,1

In [147]:
#CHECK IF THERE ARE DUPLICATED ROWS

def dupsAndclean(dfs):
    dups_var = dfs[dfs.duplicated(subset = None, keep = 'last')]
    clean_var = dfs.drop_duplicates()
    print("INFO")
    print(60*"-")
    print("Dataframe shape with no dups: ",clean_var.shape)
    print("Dataframe composed of duplicates shape: ",dups_var.shape)
    print("Total missing rows after removing dups ",dups_var.shape[0])
    
dupsAndclean(df1)

INFO
------------------------------------------------------------
Dataframe shape with no dups:  (2069496, 6)
Dataframe composed of duplicates shape:  (0, 6)
Total missing rows after removing dups  0

In [148]:
#RETURN DUPLICATED ROWS AND CLEAN DATAFRAME
def removeDups(dfs):
    dups_var = dfs[dfs.duplicated(subset = None, keep = 'last')]
    clean_var = dfs.drop_duplicates()
    return [dups_var,clean_var]

#DUPLICATED ROwS
print(removeDups(df1)[0])

print(80*'-')

#CLEAN DATAFRAME
print(removeDups(df1)[1])

Empty DataFrame
Columns: [REF_DATE, GEO, Type of work sought and search method, Sex, Age group, VALUE]
Index: []
--------------------------------------------------------------------------------
        REF_DATE               GEO Type of work sought and search method  \
0        1976-01            Canada                      Total unemployed
1        1976-01            Canada                      Total unemployed
2        1976-01            Canada                      Total unemployed
3        1976-01            Canada                      Total unemployed
4        1976-01            Canada                      Total unemployed
...          ...               ...                                   ...
2069491  2020-08  British Columbia             Looked-used other methods
2069492  2020-08  British Columbia             Looked-used other methods
2069493  2020-08  British Columbia             Looked-used other methods
2069494  2020-08  British Columbia             Looked-used other methods
2069495  2020-08  British Columbia             Looked-used other methods

                Sex          Age group  VALUE
0        Both sexes  15 years and over  815.7
1        Both sexes     15 to 24 years  375.9
2        Both sexes  25 years and over  439.8
3        Both sexes     25 to 44 years  293.1
4        Both sexes  45 years and over  146.7
...             ...                ...    ...
2069491     Females  45 years and over    5.6
2069492     Females     25 to 54 years   13.0
2069493     Females  55 years and over    1.8
2069494     Females     55 to 64 years    NaN
2069495     Females  65 years and over    NaN

[2069496 rows x 6 columns]

In [149]:
#TEST GROUP BY SUM
#----------------
df.groupby(['Type of work sought and search method']).sum()

,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
Type of work sought and search method,,,,,,
Future job starter,39638808,477576,301398.4,0.0,0.0,159192
Looked for full-time work,39638808,477576,6960581.9,0.0,0.0,159192
Looked for part-time work,39638808,477576,1360514.3,0.0,0.0,159192
Looked-checked with employers directly,39638808,477576,4919678.3,0.0,0.0,159192
Looked-checked with friends or relatives,39638808,477576,1565430.5,0.0,0.0,159192
Looked-checked with private employment agency,39638808,477576,482989.8,0.0,0.0,159192
Looked-checked with union,39638808,477576,225151.5,0.0,0.0,159192
Looked-looked at job ads,39638808,477576,4322207.9,0.0,0.0,159192
Looked-placed or answered ads,39638808,477576,1945590.5,0.0,0.0,159192
Looked-used other methods,39638808,477576,794375.8,0.0,0.0,159192
Looked-used public employment agency,39638808,477576,2584163.4,0.0,0.0,159192
On temporary layoff,39638808,477576,656283.8,0.0,0.0,159192
Total unemployed,39638808,477576,9335402.3,0.0,0.0,159192

In [150]:
#TEST GROUP BY SUM RETURN ONE COLUMN COLUMN
#-------------------------------------------
dfs = df.set_index(['Type of work sought and search method'])
dfs['VALUE'].groupby(['Type of work sought and search method']).sum()

Type of work sought and search method
Future job starter                                301398.4
Looked for full-time work                        6960581.9
Looked for part-time work                        1360514.3
Looked-checked with employers directly           4919678.3
Looked-checked with friends or relatives         1565430.5
Looked-checked with private employment agency     482989.8
Looked-checked with union                         225151.5
Looked-looked at job ads                         4322207.9
Looked-placed or answered ads                    1945590.5
Looked-used other methods                         794375.8
Looked-used public employment agency             2584163.4
On temporary layoff                               656283.8
Total unemployed                                 9335402.3
Name: VALUE, dtype: float64

In [151]:
#Put a GroupBY into a Dataframe
grouped = pd.DataFrame(dfs['VALUE'].groupby(['Type of work sought and search method']).sum().reset_index())

In [152]:
#CHECK THAT TOTAL UNEMPLOYMENT = TO THE REST OF THE ELEMENTS
index_No_Total = grouped.pipe(lambda x: x['Type of work sought and search method'] != "Total unemployed")
index_TOTAL = grouped.pipe(lambda x: x['Type of work sought and search method'] == "Total unemployed")
grouped1 = grouped[index_No_Total]['VALUE']
grouped2 = grouped[index_TOTAL]['VALUE']

grouped1.sum() - grouped2.sum()

16782963.800000213

In [153]:
#=================================
#CREATING A NESTED FOR ALL VALUES
#=================================
'''
Checking values
'''
df5.groupby(['date','location','age','gender']).sum()

                                                   count_value
date       location     age               gender
2019-01-01 Alberta      15 to 24 years    Females           47
                                          Males             77
                        25 to 44 years    Females          125
                                          Males            185
                        25 to 54 years    Females          165
...                                                        ...
2020-08-01 Saskatchewan 25 to 54 years    Males             39
                        55 to 64 years    Females           10
                                          Males              9
                        65 years and over Females            0
                                          Males              2

[2000 rows x 1 columns]

In [197]:
#==========================================
#CREATING A NESTED FOR ALL VALUES LOCATION
#==========================================
'''
create a groupby .sum() for all locations
#reset_index() allows to add the new column in the dataframe
#put it into a dataframe pd.DataFrame()
'''
grouped = pd.DataFrame(dfs['VALUE'].groupby(['Type of work sought and search method']).sum().reset_index())
grouped_all_locations = pd.DataFrame(df5.groupby(['date','age','gender']).sum().reset_index())
'''
insert column at location at index 1
add hardcoded column 'all locations to new table'

df.insert(1,'name_of_column',value)
'''
grouped_all_locations.insert(1,'location','ALL')
grouped_all_locations

          date location                age   gender  count_value
0   2019-01-01      ALL     15 to 24 years  Females          417
1   2019-01-01      ALL     15 to 24 years    Males          657
2   2019-01-01      ALL     25 to 44 years  Females          783
3   2019-01-01      ALL     25 to 44 years    Males         1041
4   2019-01-01      ALL     25 to 54 years  Females         1093
5   2019-01-01      ALL     25 to 54 years    Males         1489
6   2019-01-01      ALL     55 to 64 years  Females          243
7   2019-01-01      ALL     55 to 64 years    Males          426
8   2019-01-01      ALL  65 years and over  Females           20
9   2019-01-01      ALL  65 years and over    Males           67
10  2019-02-01      ALL     15 to 24 years  Females          405
11  2019-02-01      ALL     15 to 24 years    Males          636
12  2019-02-01      ALL     25 to 44 years  Females          769
13  2019-02-01      ALL     25 to 44 years    Males          996
14  2019-02-01      ALL     25 to 54 years  Females         1085
15  2019-02-01      ALL     25 to 54 years    Males         1433
16  2019-02-01      ALL     55 to 64 years  Females          266
17  2019-02-01      ALL     55 to 64 years    Males          468
18  2019-02-01      ALL  65 years and over  Females           31
19  2019-02-01      ALL  65 years and over    Males           75
20  2019-03-01      ALL     15 to 24 years  Females          411
21  2019-03-01      ALL     15 to 24 years    Males          615
22  2019-03-01      ALL     25 to 44 years  Females          789
23  2019-03-01      ALL     25 to 44 years    Males         1013
24  2019-03-01      ALL     25 to 54 years  Females         1101
25  2019-03-01      ALL     25 to 54 years    Males         1436
26  2019-03-01      ALL     55 to 64 years  Females          314
27  2019-03-01      ALL     55 to 64 years    Males          451
28  2019-03-01      ALL  65 years and over  Females           33
29  2019-03-01      ALL  65 years and over    Males           68
30  2019-04-01      ALL     15 to 24 years  Females          424
31  2019-04-01      ALL     15 to 24 years    Males          577
32  2019-04-01      ALL     25 to 44 years  Females          760
33  2019-04-01      ALL     25 to 44 years    Males         1017
34  2019-04-01      ALL     25 to 54 years  Females         1065
35  2019-04-01      ALL     25 to 54 years    Males         1459
36  2019-04-01      ALL     55 to 64 years  Females          217
37  2019-04-01      ALL     55 to 64 years    Males          448
38  2019-04-01      ALL  65 years and over  Females           33
39  2019-04-01      ALL  65 years and over    Males           62
40  2019-05-01      ALL     15 to 24 years  Females          542
41  2019-05-01      ALL     15 to 24 years    Males          660
42  2019-05-01      ALL     25 to 44 years  Females          668
43  2019-05-01      ALL     25 to 44 years    Males          894
44  2019-05-01      ALL     25 to 54 years  Females          927
45  2019-05-01      ALL     25 to 54 years    Males         1219
46  2019-05-01      ALL     55 to 64 years  Females          205
47  2019-05-01      ALL     55 to 64 years    Males          360
48  2019-05-01      ALL  65 years and over  Females           22
49  2019-05-01      ALL  65 years and over    Males           69
50  2019-06-01      ALL     15 to 24 years  Females          553
51  2019-06-01      ALL     15 to 24 years    Males          633
52  2019-06-01      ALL     25 to 44 years  Females          690
53  2019-06-01      ALL     25 to 44 years    Males          879
54  2019-06-01      ALL     25 to 54 years  Females          956
55  2019-06-01      ALL     25 to 54 years    Males         1180
56  2019-06-01      ALL     55 to 64 years  Females          184
57  2019-06-01      ALL     55 to 64 years    Males          289
58  2019-06-01      ALL  65 years and over  Females           27
59  2019-06-01      ALL  65 years and over    Males           52
60  2019-07-01      ALL     15 to 24 years  Females          627
61  2019-07-01      ALL     15 to 24 years    Males          785
62  2019-07-01      ALL     25 to 44 years  Females          798
63  2019-07-01      ALL     25 to 44 years    Males          922
64  2019-07-01      ALL     25 to 54 years  Females         1147
65  2019-07-01      ALL     25 to 54 years    Males         1195
66  2019-07-01      ALL     55 to 64 years  Females          238
67  2019-07-01      ALL     55 to 64 years    Males          314
68  2019-07-01      ALL  65 years and over  Females           26
69  2019-07-01      ALL  65 years and over    Males           43
70  2019-08-01      ALL     15 to 24 years  Females          575
71  2019-08-01      ALL     15 to 24 years    Males          721
72  2019-08-01      ALL     25 to 44 years  Females          897
73  2019-08-01      ALL     25 to 44 years    Males          924
74  2019-08-01      ALL     25 to 54 years  Females         1282
75  2019-08-01      ALL     25 to 54 years    Males         1242
76  2019-08-01      ALL     55 to 64 years  Females          262
77  2019-08-01      ALL     55 to 64 years    Males          319
78  2019-08-01      ALL  65 years and over  Females           29
79  2019-08-01      ALL  65 years and over    Males           44
80  2019-09-01      ALL     15 to 24 years  Females          494
81  2019-09-01      ALL     15 to 24 years    Males          643
82  2019-09-01      ALL     25 to 44 years  Females          717
83  2019-09-01      ALL     25 to 44 years    Males          769
84  2019-09-01      ALL     25 to 54 years  Females          966
85  2019-09-01      ALL     25 to 54 years    Males         1020
86  2019-09-01      ALL     55 to 64 years  Females          264
87  2019-09-01      ALL     55 to 64 years    Males          281
88  2019-09-01      ALL  65 years and over  Females           24
89  2019-09-01      ALL  65 years and over    Males           19
90  2019-10-01      ALL     15 to 24 years  Females          417
91  2019-10-01      ALL     15 to 24 years    Males          608
92  2019-10-01      ALL     25 to 44 years  Females          697
93  2019-10-01      ALL     25 to 44 years    Males          778
94  2019-10-01      ALL     25 to 54 years  Females          993
95  2019-10-01      ALL     25 to 54 years    Males         1108
96  2019-10-01      ALL     55 to 64 years  Females          216
97  2019-10-01      ALL     55 to 64 years    Males          296
98  2019-10-01      ALL  65 years and over  Females           17
99  2019-10-01      ALL  65 years and over    Males           21
100 2019-11-01      ALL     15 to 24 years  Females          397
101 2019-11-01      ALL     15 to 24 years    Males          603
102 2019-11-01      ALL     25 to 44 years  Females          730
103 2019-11-01      ALL     25 to 44 years    Males          987
104 2019-11-01      ALL     25 to 54 years  Females         1034
105 2019-11-01      ALL     25 to 54 years    Males         1320
106 2019-11-01      ALL     55 to 64 years  Females          253
107 2019-11-01      ALL     55 to 64 years    Males          349
108 2019-11-01      ALL  65 years and over  Females           34
109 2019-11-01      ALL  65 years and over    Males           32
110 2019-12-01      ALL     15 to 24 years  Females          329
111 2019-12-01      ALL     15 to 24 years    Males          520
112 2019-12-01      ALL     25 to 44 years  Females          677
113 2019-12-01      ALL     25 to 44 years    Males          899
114 2019-12-01      ALL     25 to 54 years  Females          955
115 2019-12-01      ALL     25 to 54 years    Males         1246
116 2019-12-01      ALL     55 to 64 years  Females          227
117 2019-12-01      ALL     55 to 64 years    Males          363
118 2019-12-01      ALL  65 years and over  Females           18
119 2019-12-01      ALL  65 years and over    Males           56
120 2020-01-01      ALL     15 to 24 years  Females          397
121 2020-01-01      ALL     15 to 24 years    Males          559
122 2020-01-01      ALL     25 to 44 years  Females          800
123 2020-01-01      ALL     25 to 44 years    Males         1016
124 2020-01-01      ALL     25 to 54 years  Females         1110
125 2020-01-01      ALL     25 to 54 years    Males         1393
126 2020-01-01      ALL     55 to 64 years  Females          223
127 2020-01-01      ALL     55 to 64 years    Males          347
128 2020-01-01      ALL  65 years and over  Females           21
129 2020-01-01      ALL  65 years and over    Males           73
130 2020-02-01      ALL     15 to 24 years  Females          361
131 2020-02-01      ALL     15 to 24 years    Males          641
132 2020-02-01      ALL     25 to 44 years  Females          783
133 2020-02-01      ALL     25 to 44 years    Males         1054
134 2020-02-01      ALL     25 to 54 years  Females         1103
135 2020-02-01      ALL     25 to 54 years    Males         1419
136 2020-02-01      ALL     55 to 64 years  Females          284
137 2020-02-01      ALL     55 to 64 years    Males          427
138 2020-02-01      ALL  65 years and over  Females           31
139 2020-02-01      ALL  65 years and over    Males           66
140 2020-03-01      ALL     15 to 24 years  Females          617
141 2020-03-01      ALL     15 to 24 years    Males          736
142 2020-03-01      ALL     25 to 44 years  Females         1036
143 2020-03-01      ALL     25 to 44 years    Males         1268
144 2020-03-01      ALL     25 to 54 years  Females         1438
145 2020-03-01      ALL     25 to 54 years    Males         1678
146 2020-03-01      ALL     55 to 64 years  Females          315
147 2020-03-01      ALL     55 to 64 years    Males          464
148 2020-03-01      ALL  65 years and over  Females           44
149 2020-03-01      ALL  65 years and over    Males           79
150 2020-04-01      ALL     15 to 24 years  Females          786
151 2020-04-01      ALL     15 to 24 years    Males          881
152 2020-04-01      ALL     25 to 44 years  Females         1342
153 2020-04-01      ALL     25 to 44 years    Males         1664
154 2020-04-01      ALL     25 to 54 years  Females         1835
155 2020-04-01      ALL     25 to 54 years    Males         2193
156 2020-04-01      ALL     55 to 64 years  Females          399
157 2020-04-01      ALL     55 to 64 years    Males          710
158 2020-04-01      ALL  65 years and over  Females           54
159 2020-04-01      ALL  65 years and over    Males          101
160 2020-05-01      ALL     15 to 24 years  Females         1354
161 2020-05-01      ALL     15 to 24 years    Males         1316
162 2020-05-01      ALL     25 to 44 years  Females         1552
163 2020-05-01      ALL     25 to 44 years    Males         1853
164 2020-05-01      ALL     25 to 54 years  Females         2056
165 2020-05-01      ALL     25 to 54 years    Males         2423
166 2020-05-01      ALL     55 to 64 years  Females          378
167 2020-05-01      ALL     55 to 64 years    Males          566
168 2020-05-01      ALL  65 years and over  Females           55
169 2020-05-01      ALL  65 years and over    Males           99
170 2020-06-01      ALL     15 to 24 years  Females         1432
171 2020-06-01      ALL     15 to 24 years    Males         1526
172 2020-06-01      ALL     25 to 44 years  Females         1557
173 2020-06-01      ALL     25 to 44 years    Males         1586
174 2020-06-01      ALL     25 to 54 years  Females         2107
175 2020-06-01      ALL     25 to 54 years    Males         2146
176 2020-06-01      ALL     55 to 64 years  Females          393
177 2020-06-01      ALL     55 to 64 years    Males          548
178 2020-06-01      ALL  65 years and over  Females           57
179 2020-06-01      ALL  65 years and over    Males           99
180 2020-07-01      ALL     15 to 24 years  Females         1326
181 2020-07-01      ALL     15 to 24 years    Males         1653
182 2020-07-01      ALL     25 to 44 years  Females         1643
183 2020-07-01      ALL     25 to 44 years    Males         1594
184 2020-07-01      ALL     25 to 54 years  Females         2256
185 2020-07-01      ALL     25 to 54 years    Males         2171
186 2020-07-01      ALL     55 to 64 years  Females          404
187 2020-07-01      ALL     55 to 64 years    Males          516
188 2020-07-01      ALL  65 years and over  Females           65
189 2020-07-01      ALL  65 years and over    Males          100
190 2020-08-01      ALL     15 to 24 years  Females         1315
191 2020-08-01      ALL     15 to 24 years    Males         1537
192 2020-08-01      ALL     25 to 44 years  Females         1660
193 2020-08-01      ALL     25 to 44 years    Males         1532
194 2020-08-01      ALL     25 to 54 years  Females         2288
195 2020-08-01      ALL     25 to 54 years    Males         2127
196 2020-08-01      ALL     55 to 64 years  Females          471
197 2020-08-01      ALL     55 to 64 years    Males          525
198 2020-08-01      ALL  65 years and over  Females           64
199 2020-08-01      ALL  65 years and over    Males          122

In [198]:
#test
index_DATES_2019 = df1.pipe(lambda x: x['REF_DATE'] == "2019-01")
test = df1[index_DATES_2019]

index_ALL_CANADA = test.pipe(lambda x: x['GEO'] == "Canada")
test2 = test[index_ALL_CANADA]


print("ORIGINAL CANADA ON 2019-01 : ",test2['VALUE'].sum())
print("NEW CANADA ON 2019-01 : ",grouped_all_locations['count_value'].sum())

ORIGINAL CANADA ON 2019-01 :  35393.1
NEW CANADA ON 2019-01 :  145689

In [199]:
df6 = pd.concat([df5, grouped_all_locations])

In [200]:
df6

              date                   location     search_method   gender                age  count_value
1992637 2019-01-01  Newfoundland and Labrador  Total unemployed    Males     15 to 24 years            3
1992639 2019-01-01  Newfoundland and Labrador  Total unemployed    Males     25 to 44 years            8
1992641 2019-01-01  Newfoundland and Labrador  Total unemployed    Males     25 to 54 years           13
1992643 2019-01-01  Newfoundland and Labrador  Total unemployed    Males     55 to 64 years            4
1992644 2019-01-01  Newfoundland and Labrador  Total unemployed    Males  65 years and over            1
...            ...                        ...               ...      ...                ...          ...
195     2020-08-01                        ALL               NaN    Males     25 to 54 years         2127
196     2020-08-01                        ALL               NaN  Females     55 to 64 years          471
197     2020-08-01                        ALL               NaN    Males     55 to 64 years          525
198     2020-08-01                        ALL               NaN  Females  65 years and over           64
199     2020-08-01                        ALL               NaN    Males  65 years and over          122

[26200 rows x 6 columns]

In [201]:
#==========================================
#CREATING A NESTED FOR ALL VALUES GENDER
#==========================================
'''
create a groupby .sum() for all locations
#reset_index() allows to add the new column in the dataframe
#put it into a dataframe pd.DataFrame()
'''
grouped_all_genders = pd.DataFrame(df6.groupby(['date','location','age']).sum().reset_index())
'''
insert column at location at index 1
add hardcoded column 'all locations to new table'

df.insert(1,'name_of_column',value)
'''
grouped_all_genders.insert(3,'gender','ALL')
grouped_all_genders

           date      location                age gender  count_value
0    2019-01-01           ALL     15 to 24 years    ALL         1074
1    2019-01-01           ALL     25 to 44 years    ALL         1824
2    2019-01-01           ALL     25 to 54 years    ALL         2582
3    2019-01-01           ALL     55 to 64 years    ALL          669
4    2019-01-01           ALL  65 years and over    ALL           87
...         ...           ...                ...    ...          ...
1095 2020-08-01  Saskatchewan     15 to 24 years    ALL           50
1096 2020-08-01  Saskatchewan     25 to 44 years    ALL           67
1097 2020-08-01  Saskatchewan     25 to 54 years    ALL           94
1098 2020-08-01  Saskatchewan     55 to 64 years    ALL           19
1099 2020-08-01  Saskatchewan  65 years and over    ALL            2

[1100 rows x 5 columns]

In [202]:
df7 = pd.concat([df6, grouped_all_genders])

In [203]:
df7

              date                   location     search_method gender                age  count_value
1992637 2019-01-01  Newfoundland and Labrador  Total unemployed  Males     15 to 24 years            3
1992639 2019-01-01  Newfoundland and Labrador  Total unemployed  Males     25 to 44 years            8
1992641 2019-01-01  Newfoundland and Labrador  Total unemployed  Males     25 to 54 years           13
1992643 2019-01-01  Newfoundland and Labrador  Total unemployed  Males     55 to 64 years            4
1992644 2019-01-01  Newfoundland and Labrador  Total unemployed  Males  65 years and over            1
...            ...                        ...               ...    ...                ...          ...
1095    2020-08-01               Saskatchewan               NaN    ALL     15 to 24 years           50
1096    2020-08-01               Saskatchewan               NaN    ALL     25 to 44 years           67
1097    2020-08-01               Saskatchewan               NaN    ALL     25 to 54 years           94
1098    2020-08-01               Saskatchewan               NaN    ALL     55 to 64 years           19
1099    2020-08-01               Saskatchewan               NaN    ALL  65 years and over            2

[27300 rows x 6 columns]

In [204]:
#==========================================
#CREATING A NESTED FOR ALL VALUES AGES
#==========================================
'''
create a groupby .sum() for all locations
#reset_index() allows to add the new column in the dataframe
#put it into a dataframe pd.DataFrame()
'''
grouped_all_AGES = pd.DataFrame(df7.groupby(['date','location','gender']).sum().reset_index())
'''
insert column at location at index 1
add hardcoded column 'all locations to new table'

df.insert(1,'name_of_column',value)
'''
grouped_all_AGES.insert(4,'age','ALL')
grouped_all_AGES

          date      location   gender  count_value  age
0   2019-01-01           ALL      ALL         6236  ALL
1   2019-01-01           ALL  Females         2556  ALL
2   2019-01-01           ALL    Males         3680  ALL
3   2019-01-01       Alberta      ALL          983  ALL
4   2019-01-01       Alberta  Females          375  ALL
..         ...           ...      ...          ...  ...
655 2020-08-01        Quebec  Females         1250  ALL
656 2020-08-01        Quebec    Males         1021  ALL
657 2020-08-01  Saskatchewan      ALL          232  ALL
658 2020-08-01  Saskatchewan  Females          122  ALL
659 2020-08-01  Saskatchewan    Males          110  ALL

[660 rows x 5 columns]

In [205]:
df8 = pd.concat([df7, grouped_all_AGES])

In [206]:
#=================================
#CREATING A NESTED FOR ALL VALUES
#=================================
'''
Checking values
'''
index_DATES_2019 = df8.pipe(lambda x: x['date'] == "2020-07")
test = df8[index_DATES_2019]
test.groupby(['date','location','age','gender']).sum()

                                                                count_value
date       location                  age               gender
2020-07-01 ALL                       15 to 24 years    ALL             2979
                                                       Females         1326
                                                       Males           1653
                                     25 to 44 years    ALL             3237
                                                       Females         1643
                                                       Males           1594
                                     25 to 54 years    ALL             4427
                                                       Females         2256
                                                       Males           2171
                                     55 to 64 years    ALL              920
                                                       Females          404
                                                       Males            516
                                     65 years and over ALL              165
                                                       Females           65
                                                       Males            100
                                     ALL               ALL            11728
                                                       Females         5694
                                                       Males           6034
           Alberta                   15 to 24 years    ALL              394
                                                       Females          188
                                                       Males            206
                                     25 to 44 years    ALL              475
                                                       Females          209
                                                       Males            266
                                     25 to 54 years    ALL              664
                                                       Females          290
                                                       Males            374
                                     55 to 64 years    ALL              178
                                                       Females           82
                                                       Males             96
                                     65 years and over ALL               27
                                                       Females            6
                                                       Males             21
                                     ALL               ALL             1738
                                                       Females          775
                                                       Males            963
           British Columbia          15 to 24 years    ALL              416
                                                       Females          209
                                                       Males            207
                                     25 to 44 years    ALL              444
                                                       Females          211
                                                       Males            233
                                     25 to 54 years    ALL              609
                                                       Females          303
                                                       Males            306
                                     55 to 64 years    ALL              101
                                                       Females           49
                                                       Males             52
                                     65 years and over ALL               25
                                                       Females            8
                                                       Males             17
                                     ALL               ALL             1595
                                                       Females          780
                                                       Males            815
           Manitoba                  15 to 24 years    ALL               79
                                                       Females           28
                                                       Males             51
                                     25 to 44 years    ALL               80
                                                       Females           42
                                                       Males             38
                                     25 to 54 years    ALL              114
                                                       Females           59
                                                       Males             55
                                     55 to 64 years    ALL               17
                                                       Females            7
                                                       Males             10
                                     65 years and over ALL                0
                                                       Females            0
                                                       Males              0
                                     ALL               ALL              290
                                                       Females          136
                                                       Males            154
           New Brunswick             15 to 24 years    ALL               31
                                                       Females           14
                                                       Males             17
                                     25 to 44 years    ALL               34
                                                       Females            9
                                                       Males             25
                                     25 to 54 years    ALL               52
                                                       Females           14
                                                       Males             38
                                     55 to 64 years    ALL               16
                                                       Females            7
                                                       Males              9
                                     65 years and over ALL                0
                                                       Females            0
                                                       Males              0
                                     ALL               ALL              133
                                                       Females           44
                                                       Males             89
           Newfoundland and Labrador 15 to 24 years    ALL               28
                                                       Females            9
                                                       Males             19
                                     25 to 44 years    ALL               38
                                                       Females           18
                                                       Males             20
                                     25 to 54 years    ALL               58
                                                       Females           27
                                                       Males             31
                                     55 to 64 years    ALL               24
                                                       Females            4
                                                       Males             20
                                     65 years and over ALL                2
                                                       Females            0
                                                       Males              2
                                     ALL               ALL              150
                                                       Females           58
                                                       Males             92
           Nova Scotia               15 to 24 years    ALL               57
                                                       Females           20
                                                       Males             37
                                     25 to 44 years    ALL               57
                                                       Females           33
                                                       Males             24
                                     25 to 54 years    ALL               87
                                                       Females           51
                                                       Males             36
                                     55 to 64 years    ALL               25
                                                       Females           10
                                                       Males             15
                                     65 years and over ALL                1
                                                       Females            1
                                                       Males              0
                                     ALL               ALL              227
                                                       Females          115
                                                       Males            112
           Ontario                   15 to 24 years    ALL             1446
                                                       Females          669
                                                       Males            777
                                     25 to 44 years    ALL             1396
                                                       Females          727
                                                       Males            669
                                     25 to 54 years    ALL             1834
                                                       Females          973
                                                       Males            861
                                     55 to 64 years    ALL              396
                                                       Females          183
                                                       Males            213
                                     65 years and over ALL               71
                                                       Females           33
                                                       Males             38
                                     ALL               ALL             5143
                                                       Females         2585
                                                       Males           2558
           Prince Edward Island      15 to 24 years    ALL                5
                                                       Females            1
                                                       Males              4
                                     25 to 44 years    ALL                6
                                                       Females            4
                                                       Males              2
                                     25 to 54 years    ALL               11
                                                       Females            6
                                                       Males              5
                                     55 to 64 years    ALL                0
                                                       Females            0
                                                       Males              0
                                     65 years and over ALL                0
                                                       Females            0
                                                       Males              0
                                     ALL               ALL               22
                                                       Females           11
                                                       Males             11
           Quebec                    15 to 24 years    ALL              461
                                                       Females          169
                                                       Males            292
                                     25 to 44 years    ALL              636
                                                       Females          354
                                                       Males            282
                                     25 to 54 years    ALL              899
                                                       Females          480
                                                       Males            419
                                     55 to 64 years    ALL              149
                                                       Females           59
                                                       Males             90
                                     65 years and over ALL               38
                                                       Females           17
                                                       Males             21
                                     ALL               ALL             2183
                                                       Females         1079
                                                       Males           1104
           Saskatchewan              15 to 24 years    ALL               62
                                                       Females           19
                                                       Males             43
                                     25 to 44 years    ALL               71
                                                       Females           36
                                                       Males             35
                                     25 to 54 years    ALL               99
                                                       Females           53
                                                       Males             46
                                     55 to 64 years    ALL               14
                                                       Females            3
                                                       Males             11
                                     65 years and over ALL                1
                                                       Females            0
                                                       Males              1
                                     ALL               ALL              247
                                                       Females          111
                                                       Males            136

In [196]:
#OUTPUT DATAFRAME
#(df8).to_csv('unemployment_dataSet.csv', sep = ',', index=False)

In [183]:
#CHECK IF THERE ARE DUPLICATED ROWS

dupsAndclean(df8)

INFO
------------------------------------------------------------
Dataframe shape with no dups:  (27960, 6)
Dataframe composed of duplicates shape:  (0, 6)
Total missing rows after removing dups  0

In [207]:
df.head(5)

index_DATES_2019 = df.pipe(lambda x: x['REF_DATE'] == "2020-07")
test = df[index_DATES_2019]
test.groupby(['REF_DATE','GEO','Age group','Sex']).sum()

                                                                 UOM_ID  SCALAR_ID   VALUE  SYMBOL  TERMINATED  DECIMALS
REF_DATE GEO                       Age group         Sex
2020-07  Alberta                   15 to 24 years    Both sexes    3237         39   405.6     0.0         0.0        13
                                                     Females       3237         39   191.7     0.0         0.0        13
                                                     Males         3237         39   211.5     0.0         0.0        13
                                   15 years and over Both sexes    3237         39  1313.5     0.0         0.0        13
                                                     Females       3237         39   589.0     0.0         0.0        13
                                                     Males         3237         39   723.2     0.0         0.0        13
                                   25 to 44 years    Both sexes    3237         39   482.6     0.0         0.0        13
                                                     Females       3237         39   213.1     0.0         0.0        13
                                                     Males         3237         39   269.3     0.0         0.0        13
                                   25 to 54 years    Both sexes    3237         39   677.8     0.0         0.0        13
                                                     Females       3237         39   295.0     0.0         0.0        13
                                                     Males         3237         39   381.7     0.0         0.0        13
                                   25 years and over Both sexes    3237         39   906.2     0.0         0.0        13
                                                     Females       3237         39   395.0     0.0         0.0        13
                                                     Males         3237         39   510.4     0.0         0.0        13
                                   45 years and over Both sexes    3237         39   421.2     0.0         0.0        13
                                                     Females       3237         39   181.8     0.0         0.0        13
                                                     Males         3237         39   239.6     0.0         0.0        13
                                   55 to 64 years    Both sexes    3237         39   187.8     0.0         0.0        13
                                                     Females       3237         39    86.8     0.0         0.0        13
                                                     Males         3237         39    98.6     0.0         0.0        13
                                   55 years and over Both sexes    3237         39   227.9     0.0         0.0        13
                                                     Females       3237         39   100.1     0.0         0.0        13
                                                     Males         3237         39   128.0     0.0         0.0        13
                                   65 years and over Both sexes    3237         39    40.3     0.0         0.0        13
                                                     Females       3237         39     6.9     0.0         0.0        13
                                                     Males         3237         39    25.0     0.0         0.0        13
         British Columbia          15 to 24 years    Both sexes    3237         39   427.3     0.0         0.0        13
                                                     Females       3237         39   214.1     0.0         0.0        13
                                                     Males         3237         39   212.6     0.0         0.0        13
                                   15 years and over Both sexes    3237         39  1203.9     0.0         0.0        13
                                                     Females       3237         39   595.4     0.0         0.0        13
                                                     Males         3237         39   608.8     0.0         0.0        13
                                   25 to 44 years    Both sexes    3237         39   459.8     0.0         0.0        13
                                                     Females       3237         39   216.8     0.0         0.0        13
                                                     Males         3237         39   239.2     0.0         0.0        13
                                   25 to 54 years    Both sexes    3237         39   623.1     0.0         0.0        13
                                                     Females       3237         39   309.1     0.0         0.0        13
                                                     Males         3237         39   311.4     0.0         0.0        13
                                   25 years and over Both sexes    3237         39   774.2     0.0         0.0        13
                                                     Females       3237         39   378.8     0.0         0.0        13
                                                     Males         3237         39   393.5     0.0         0.0        13
                                   45 years and over Both sexes    3237         39   313.6     0.0         0.0        13
                                                     Females       3237         39   158.9     0.0         0.0        13
                                                     Males         3237         39   150.9     0.0         0.0        13
                                   55 to 64 years    Both sexes    3237         39   110.1     0.0         0.0        13
                                                     Females       3237         39    51.9     0.0         0.0        13
                                                     Males         3237         39    57.2     0.0         0.0        13
                                   55 years and over Both sexes    3237         39   148.4     0.0         0.0        13
                                                     Females       3237         39    66.8     0.0         0.0        13
                                                     Males         3237         39    80.6     0.0         0.0        13
                                   65 years and over Both sexes    3237         39    37.0     0.0         0.0        13
                                                     Females       3237         39    10.5     0.0         0.0        13
                                                     Males         3237         39    19.7     0.0         0.0        13
         Canada                    15 to 24 years    Both sexes    3237         39  3080.0     0.0         0.0        13
                                                     Females       3237         39  1373.7     0.0         0.0        13
                                                     Males         3237         39  1706.6     0.0         0.0        13
                                   15 years and over Both sexes    3237         39  8882.9     0.0         0.0        13
                                                     Females       3237         39  4235.4     0.0         0.0        13
                                                     Males         3237         39  4647.0     0.0         0.0        13
                                   25 to 44 years    Both sexes    3237         39  3343.1     0.0         0.0        13
                                                     Females       3237         39  1695.4     0.0         0.0        13
                                                     Males         3237         39  1647.7     0.0         0.0        13
                                   25 to 54 years    Both sexes    3237         39  4543.7     0.0         0.0        13
                                                     Females       3237         39  2311.5     0.0         0.0        13
                                                     Males         3237         39  2231.9     0.0         0.0        13
                                   25 years and over Both sexes    3237         39  5802.5     0.0         0.0        13
                                                     Females       3237         39  2861.8     0.0         0.0        13
                                                     Males         3237         39  2940.7     0.0         0.0        13
                                   45 years and over Both sexes    3237         39  2459.6     0.0         0.0        13
                                                     Females       3237         39  1166.6     0.0         0.0        13
                                                     Males         3237         39  1292.7     0.0         0.0        13
                                   55 to 64 years    Both sexes    3237         39  1018.3     0.0         0.0        13
                                                     Females       3237         39   449.3     0.0         0.0        13
                                                     Males         3237         39   568.0     0.0         0.0        13
                                   55 years and over Both sexes    3237         39  1258.7     0.0         0.0        13
                                                     Females       3237         39   550.4     0.0         0.0        13
                                                     Males         3237         39   708.4     0.0         0.0        13
                                   65 years and over Both sexes    3237         39   240.6     0.0         0.0        13
                                                     Females       3237         39    98.0     0.0         0.0        13
                                                     Males         3237         39   139.6     0.0         0.0        13
         Manitoba                  15 to 24 years    Both sexes    3237         39    88.6     0.0         0.0        13
                                                     Females       3237         39    33.0     0.0         0.0        13
                                                     Males         3237         39    55.4     0.0         0.0        13
                                   15 years and over Both sexes    3237         39   245.6     0.0         0.0        13
                                                     Females       3237         39   112.1     0.0         0.0        13
                                                     Males         3237         39   132.9     0.0         0.0        13
                                   25 to 44 years    Both sexes    3237         39    90.8     0.0         0.0        13
                                                     Females       3237         39    46.1     0.0         0.0        13
                                                     Males         3237         39    43.2     0.0         0.0        13
                                   25 to 54 years    Both sexes    3237         39   123.5     0.0         0.0        13
                                                     Females       3237         39    63.0     0.0         0.0        13
                                                     Males         3237         39    58.7     0.0         0.0        13
                                   25 years and over Both sexes    3237         39   156.9     0.0         0.0        13
                                                     Females       3237         39    79.1     0.0         0.0        13
                                                     Males         3237         39    76.9     0.0         0.0        13
                                   45 years and over Both sexes    3237         39    66.0     0.0         0.0        13
                                                     Females       3237         39    32.7     0.0         0.0        13
                                                     Males         3237         39    32.7     0.0         0.0        13
                                   55 to 64 years    Both sexes    3237         39    27.8     0.0         0.0        13
                                                     Females       3237         39    12.4     0.0         0.0        13
                                                     Males         3237         39    14.2     0.0         0.0        13
                                   55 years and over Both sexes    3237         39    32.8     0.0         0.0        13
                                                     Females       3237         39    14.8     0.0         0.0        13
                                                     Males         3237         39    16.9     0.0         0.0        13
                                   65 years and over Both sexes    3237         39     3.3     0.0         0.0        13
                                                     Females       3237         39     0.8     0.0         0.0        13
                                                     Males         3237         39     0.7     0.0         0.0        13
         New Brunswick             15 to 24 years    Both sexes    3237         39    40.2     0.0         0.0        13
                                                     Females       3237         39    17.2     0.0         0.0        13
                                                     Males         3237         39    21.6     0.0         0.0        13
                                   15 years and over Both sexes    3237         39   136.9     0.0         0.0        13
                                                     Females       3237         39    51.3     0.0         0.0        13
                                                     Males         3237         39    84.8     0.0         0.0        13
                                   25 to 44 years    Both sexes    3237         39    42.9     0.0         0.0        13
                                                     Females       3237         39    12.8     0.0         0.0        13
                                                     Males         3237         39    29.6     0.0         0.0        13
                                   25 to 54 years    Both sexes    3237         39    62.8     0.0         0.0        13
                                                     Females       3237         39    18.8     0.0         0.0        13
                                                     Males         3237         39    43.1     0.0         0.0        13
                                   25 years and over Both sexes    3237         39    96.0     0.0         0.0        13
                                                     Females       3237         39    33.8     0.0         0.0        13
                                                     Males         3237         39    62.2     0.0         0.0        13
                                   45 years and over Both sexes    3237         39    52.8     0.0         0.0        13
                                                     Females       3237         39    20.1     0.0         0.0        13
                                                     Males         3237         39    30.9     0.0         0.0        13
                                   55 to 64 years    Both sexes    3237         39    27.2     0.0         0.0        13
                                                     Females       3237         39    10.2     0.0         0.0        13
                                                     Males         3237         39    14.3     0.0         0.0        13
                                   55 years and over Both sexes    3237         39    32.9     0.0         0.0        13
                                                     Females       3237         39    13.8     0.0         0.0        13
                                                     Males         3237         39    17.5     0.0         0.0        13
                                   65 years and over Both sexes    3237         39     5.4     0.0         0.0        13
                                                     Females       3237         39     1.4     0.0         0.0        13
                                                     Males         3237         39     0.8     0.0         0.0        13
         Newfoundland and Labrador 15 to 24 years    Both sexes    3237         39    33.4     0.0         0.0        13
                                                     Females       3237         39    11.7     0.0         0.0        13
                                                     Males         3237         39    21.8     0.0         0.0        13
                                   15 years and over Both sexes    3237         39   144.4     0.0         0.0        13
                                                     Females       3237         39    53.5     0.0         0.0        13
                                                     Males         3237         39    89.9     0.0         0.0        13
                                   25 to 44 years    Both sexes    3237         39    48.5     0.0         0.0        13
                                                     Females       3237         39    23.4     0.0         0.0        13
                                                     Males         3237         39    24.0     0.0         0.0        13
                                   25 to 54 years    Both sexes    3237         39    69.8     0.0         0.0        13
                                                     Females       3237         39    31.8     0.0         0.0        13
                                                     Males         3237         39    37.0     0.0         0.0        13
                                   25 years and over Both sexes    3237         39   109.5     0.0         0.0        13
                                                     Females       3237         39    41.1     0.0         0.0        13
                                                     Males         3237         39    67.0     0.0         0.0        13
                                   45 years and over Both sexes    3237         39    60.7     0.0         0.0        13
                                                     Females       3237         39    17.6     0.0         0.0        13
                                                     Males         3237         39    42.7     0.0         0.0        13
                                   55 to 64 years    Both sexes    3237         39    31.9     0.0         0.0        13
                                                     Females       3237         39     6.5     0.0         0.0        13
                                                     Males         3237         39    23.9     0.0         0.0        13
                                   55 years and over Both sexes    3237         39    39.4     0.0         0.0        13
                                                     Females       3237         39     8.9     0.0         0.0        13
                                                     Males         3237         39    29.9     0.0         0.0        13
                                   65 years and over Both sexes    3237         39     6.7     0.0         0.0        13
                                                     Females       3237         39     0.0     0.0         0.0        13
                                                     Males         3237         39     4.9     0.0         0.0        13
         Nova Scotia               15 to 24 years    Both sexes    3237         39    64.8     0.0         0.0        13

In [208]:
index_DATES_2019 = df5.pipe(lambda x: x['date'] == "2020-07")
test = df5[index_DATES_2019]
test.groupby(['date','location','age','gender']).sum()

                                                                count_value
date       location                  age               gender
2020-07-01 Alberta                   15 to 24 years    Females          188
                                                       Males            206
                                     25 to 44 years    Females          209
                                                       Males            266
                                     25 to 54 years    Females          290
                                                       Males            374
                                     55 to 64 years    Females           82
                                                       Males             96
                                     65 years and over Females            6
                                                       Males             21
           British Columbia          15 to 24 years    Females          209
                                                       Males            207
                                     25 to 44 years    Females          211
                                                       Males            233
                                     25 to 54 years    Females          303
                                                       Males            306
                                     55 to 64 years    Females           49
                                                       Males             52
                                     65 years and over Females            8
                                                       Males             17
           Manitoba                  15 to 24 years    Females           28
                                                       Males             51
                                     25 to 44 years    Females           42
                                                       Males             38
                                     25 to 54 years    Females           59
                                                       Males             55
                                     55 to 64 years    Females            7
                                                       Males             10
                                     65 years and over Females            0
                                                       Males              0
           New Brunswick             15 to 24 years    Females           14
                                                       Males             17
                                     25 to 44 years    Females            9
                                                       Males             25
                                     25 to 54 years    Females           14
                                                       Males             38
                                     55 to 64 years    Females            7
                                                       Males              9
                                     65 years and over Females            0
                                                       Males              0
           Newfoundland and Labrador 15 to 24 years    Females            9
                                                       Males             19
                                     25 to 44 years    Females           18
                                                       Males             20
                                     25 to 54 years    Females           27
                                                       Males             31
                                     55 to 64 years    Females            4
                                                       Males             20
                                     65 years and over Females            0
                                                       Males              2
           Nova Scotia               15 to 24 years    Females           20
                                                       Males             37
                                     25 to 44 years    Females           33
                                                       Males             24
                                     25 to 54 years    Females           51
                                                       Males             36
                                     55 to 64 years    Females           10
                                                       Males             15
                                     65 years and over Females            1
                                                       Males              0
           Ontario                   15 to 24 years    Females          669
                                                       Males            777
                                     25 to 44 years    Females          727
                                                       Males            669
                                     25 to 54 years    Females          973
                                                       Males            861
                                     55 to 64 years    Females          183
                                                       Males            213
                                     65 years and over Females           33
                                                       Males             38
           Prince Edward Island      15 to 24 years    Females            1
                                                       Males              4
                                     25 to 44 years    Females            4
                                                       Males              2
                                     25 to 54 years    Females            6
                                                       Males              5
                                     55 to 64 years    Females            0
                                                       Males              0
                                     65 years and over Females            0
                                                       Males              0
           Quebec                    15 to 24 years    Females          169
                                                       Males            292
                                     25 to 44 years    Females          354
                                                       Males            282
                                     25 to 54 years    Females          480
                                                       Males            419
                                     55 to 64 years    Females           59
                                                       Males             90
                                     65 years and over Females           17
                                                       Males             21
           Saskatchewan              15 to 24 years    Females           19
                                                       Males             43
                                     25 to 44 years    Females           36
                                                       Males             35
                                     25 to 54 years    Females           53
                                                       Males             46
                                     55 to 64 years    Females            3
                                                       Males             11
                                     65 years and over Females            0
                                                       Males              1