In [1]:
#https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1410005801

import pandas as pd
df = pd.read_csv("14100058.csv")

df.shape

(2073357, 17)

In [2]:
df.head(5)

,REF_DATE,GEO,DGUID,Type of work sought and search method,Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,15 years and over,Persons,249,thousands,3,v3469253,1.1.1.1,815.7,NaN,NaN,NaN,1
1,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,15 to 24 years,Persons,249,thousands,3,v3469266,1.1.1.2,375.9,NaN,NaN,NaN,1
2,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,25 years and over,Persons,249,thousands,3,v3469279,1.1.1.3,439.8,NaN,NaN,NaN,1
3,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,25 to 44 years,Persons,249,thousands,3,v3469292,1.1.1.4,293.1,NaN,NaN,NaN,1
4,1976-01,Canada,2016A000011124,Total unemployed,Both sexes,45 years and over,Persons,249,thousands,3,v3469305,1.1.1.5,146.7,NaN,NaN,NaN,1

In [3]:
#REMOVE NOT NEEDED COLUMNS
#--------------------------
df1 = df.iloc[:,[0,1,3,4,5,12]]

#CREATE AN INDEX FOR ONLY 2020 and 2019 YEARS
#--------------------------------------------
regex_date = "2020.*|2019.*"
series_date = df1.iloc[:,0]
index_date = series_date.str.contains(regex_date)
index_date

#REMOVE NOT NEEDED DATES
#--------------------------
df2 = df1[index_date]

In [4]:
df2

,REF_DATE,GEO,Type of work sought and search method,Sex,Age group,VALUE
1992276,2019-01,Canada,Total unemployed,Both sexes,15 years and over,1218.6
1992277,2019-01,Canada,Total unemployed,Both sexes,15 to 24 years,304.3
1992278,2019-01,Canada,Total unemployed,Both sexes,25 years and over,914.3
1992279,2019-01,Canada,Total unemployed,Both sexes,25 to 44 years,479.1
1992280,2019-01,Canada,Total unemployed,Both sexes,45 years and over,435.2
...,...,...,...,...,...,...
2073352,2020-09,British Columbia,Looked-used other methods,Females,45 years and over,3.4
2073353,2020-09,British Columbia,Looked-used other methods,Females,25 to 54 years,6.8
2073354,2020-09,British Columbia,Looked-used other methods,Females,55 years and over,NaN
2073355,2020-09,British Columbia,Looked-used other methods,Females,55 to 64 years,NaN
2073356,2020-09,British Columbia,Looked-used other methods,Females,65 years and over,NaN

In [5]:
#CREATE AN INDEX FOR ONLY "to" VALUES
#--------------------------------------------
#regex_Age = ".*to.*24.*|.*to.*54.*|55 to 64 years|65 years and over|15 years and over"
regex_Age = "15 years and over"
series_Age = df2.iloc[:,4]
index_Age = series_Age.str.contains(regex_Age)
index_Age

1992276     True
1992277    False
1992278    False
1992279    False
1992280    False
           ...
2073352    False
2073353    False
2073354    False
2073355    False
2073356    False
Name: Age group, Length: 81081, dtype: bool

In [6]:
#REMOVE NOT NEEDED Ages
#--------------------------
df3 = df2[index_Age]

In [7]:
#CHECK UNIQUE VALUES OF COLUMN
#------------------------------
listvalcol = set(list(df3.iloc[:,4]))
listvalcol

{'15 years and over'}

In [8]:
#Ignore the red warning
df3['GEO'] = df3['GEO'].apply(lambda x: x.replace('Canada','ALL'))
df3['Sex'] = df3['Sex'].apply(lambda x: x.replace('Both sexes','ALL'))
df3['Age group'] = df3['Age group'].apply(lambda x: x.replace('15 years and over','ALL'))

<ipython-input-8-406389997b4b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['GEO'] = df3['GEO'].apply(lambda x: x.replace('Canada','ALL'))
<ipython-input-8-406389997b4b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Sex'] = df3['Sex'].apply(lambda x: x.replace('Both sexes','ALL'))
<ipython-input-8-406389997b4b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Age group'] = df3['Age group'].apply(lambda x: x.replace('15 years and over','ALL'))

In [9]:
#CHECK UNIQUE VALUES OF COLUMN
#------------------------------
listvalcol = set(list(df3.iloc[:,1]))
listvalcol

{'ALL',
 'Alberta',
 'British Columbia',
 'Manitoba',
 'New Brunswick',
 'Newfoundland and Labrador',
 'Nova Scotia',
 'Ontario',
 'Prince Edward Island',
 'Quebec',
 'Saskatchewan'}

In [10]:
df3

,REF_DATE,GEO,Type of work sought and search method,Sex,Age group,VALUE
1992276,2019-01,ALL,Total unemployed,ALL,ALL,1218.6
1992285,2019-01,ALL,Total unemployed,Males,ALL,726.0
1992294,2019-01,ALL,Total unemployed,Females,ALL,492.6
1992303,2019-01,ALL,Future job starter,ALL,ALL,32.4
1992312,2019-01,ALL,Future job starter,Males,ALL,21.1
...,...,...,...,...,...,...
2073312,2020-09,British Columbia,Looked-placed or answered ads,Males,ALL,37.9
2073321,2020-09,British Columbia,Looked-placed or answered ads,Females,ALL,35.7
2073330,2020-09,British Columbia,Looked-used other methods,ALL,ALL,18.6
2073339,2020-09,British Columbia,Looked-used other methods,Males,ALL,10.5
2073348,2020-09,British Columbia,Looked-used other methods,Females,ALL,8.0

In [11]:
index_DATES_2019 = df3.pipe(lambda x: x['REF_DATE'] == "2020-07")
test = df3[index_DATES_2019]
index_GEO = test.pipe(lambda x: x['GEO'] == 'ALL')
test = test[index_GEO]
test.groupby(['REF_DATE','GEO','Age group','Sex']).sum()

                                 VALUE
REF_DATE GEO Age group Sex
2020-07  ALL ALL       ALL      8882.9
                       Females  4235.4
                       Males    4647.0

In [12]:
#RENAME COLUMNS
#--------------
df3 = df3.rename({
                'REF_DATE': 'date',
                'GEO': 'location',
                'Type of work sought and search method': 'search_method',
                'Sex': 'gender',
                'Age group': 'age',
                'VALUE': 'count_value'
}, axis='columns')

df3

,date,location,search_method,gender,age,count_value
1992276,2019-01,ALL,Total unemployed,ALL,ALL,1218.6
1992285,2019-01,ALL,Total unemployed,Males,ALL,726.0
1992294,2019-01,ALL,Total unemployed,Females,ALL,492.6
1992303,2019-01,ALL,Future job starter,ALL,ALL,32.4
1992312,2019-01,ALL,Future job starter,Males,ALL,21.1
...,...,...,...,...,...,...
2073312,2020-09,British Columbia,Looked-placed or answered ads,Males,ALL,37.9
2073321,2020-09,British Columbia,Looked-placed or answered ads,Females,ALL,35.7
2073330,2020-09,British Columbia,Looked-used other methods,ALL,ALL,18.6
2073339,2020-09,British Columbia,Looked-used other methods,Males,ALL,10.5
2073348,2020-09,British Columbia,Looked-used other methods,Females,ALL,8.0

In [13]:
#VIEW FOR THE API'
df3.groupby(['date','location','age','gender']).sum()

                                  count_value
date    location     age gender
2019-01 ALL          ALL ALL           4774.9
                         Females       1945.3
                         Males         2829.9
        Alberta      ALL ALL            717.4
                         Females        269.3
...                                       ...
2020-09 Quebec       ALL Females        629.5
                         Males          579.0
        Saskatchewan ALL ALL            143.6
                         Females         66.4
                         Males           76.9

[693 rows x 1 columns]

In [14]:
#RAW DATA ON TABULAR FORMAT, WILL AGREGATE USING DJANGO
#OUTPUT DATAFRAME
(df3).to_csv('unemployment_dataSet.csv', sep = ',', index=False)

In [15]:
index_gender_all = df3.pipe(lambda x: x['gender'] != "ALL")
test = df3[index_gender_all]
index_location_all = test.pipe(lambda x: x['location'] != "ALL")
test = test[index_location_all]
#index_age_all = test.pipe(lambda x: x['age'] != "ALL")
#test = test[index_age_all]

In [16]:
test.groupby(['date','location','age','gender']).sum()

                                          count_value
date    location             age gender
2019-01 Alberta              ALL Females        269.3
                                 Males          446.5
        British Columbia     ALL Females        223.0
                                 Males          310.6
        Manitoba             ALL Females         56.5
...                                               ...
2020-09 Prince Edward Island ALL Males           15.1
        Quebec               ALL Females        629.5
                                 Males          579.0
        Saskatchewan         ALL Females         66.4
                                 Males           76.9

[420 rows x 1 columns]

In [17]:
#BUILD RATIO COLUMN

test['percent'] = (test['count_value'] / test['count_value'].sum()) * 100
test.groupby(['date','location','age','gender']).sum()

                                          count_value   percent
date    location             age gender
2019-01 Alberta              ALL Females        269.3  0.228276
                                 Males          446.5  0.378482
        British Columbia     ALL Females        223.0  0.189029
                                 Males          310.6  0.263285
        Manitoba             ALL Females         56.5  0.047893
...                                               ...       ...
2020-09 Prince Edward Island ALL Males           15.1  0.012800
        Quebec               ALL Females        629.5  0.533605
                                 Males          579.0  0.490798
        Saskatchewan         ALL Females         66.4  0.056285
                                 Males           76.9  0.065185

[420 rows x 2 columns]

In [18]:
test.groupby('date').sum()

         count_value   percent
date
2019-01       4766.7  4.040562
2019-02       4756.6  4.032001
2019-03       4783.0  4.054379
2019-04       4643.3  3.935961
2019-05       4365.8  3.700734
2019-06       4209.1  3.567905
2019-07       4734.5  4.013268
2019-08       4833.1  4.096847
2019-09       4047.7  3.431092
2019-10       4015.3  3.403627
2019-11       4381.7  3.714212
2019-12       4040.3  3.424819
2020-01       4488.0  3.804318
2020-02       4697.2  3.981650
2020-03       5751.7  4.875512
2020-04       7324.0  6.208295
2020-05       8623.2  7.309581
2020-06       8696.2  7.371460
2020-07       8877.1  7.524803
2020-08       8837.9  7.491574
2020-09       7098.8  6.017401

In [19]:
#CHANGE count datatype to int currently is float64 because there are nan values
import numpy as np
test['count_value'] = 1000*test['count_value'].fillna(0).astype(np.int64)

#CHANGE date datatype date, currently is string
import datetime
test['date'] = pd.to_datetime(test['date'])

In [20]:
#(test).to_csv('tabular_dataSet.csv', sep = ',', index=False)

In [21]:
final = test.groupby(['date','location']).sum().reset_index()

In [22]:
#(final).to_csv('tabular_dataSet.csv', sep = ',', index=False)

In [23]:
import json
result = final.to_json(orient="records")
result

'[{"date":1546300800000,"location":"Alberta","count_value":707000,"percent":0.6067582596},{"date":1546300800000,"location":"British Columbia","count_value":524000,"percent":0.4523137851},{"date":1546300800000,"location":"Manitoba","count_value":143000,"percent":0.1297774372},{"date":1546300800000,"location":"New Brunswick","count_value":115000,"percent":0.1076533934},{"date":1546300800000,"location":"Newfoundland and Labrador","count_value":115000,"percent":0.104771334},{"date":1546300800000,"location":"Nova Scotia","count_value":127000,"percent":0.1162995714},{"date":1546300800000,"location":"Ontario","count_value":1784000,"percent":1.5208796723},{"date":1546300800000,"location":"Prince Edward Island","count_value":28000,"percent":0.0325503174},{"date":1546300800000,"location":"Quebec","count_value":1000000,"percent":0.8538524657},{"date":1546300800000,"location":"Saskatchewan","count_value":128000,"percent":0.1157062063},{"date":1548979200000,"location":"Alberta","count_value":762000,"percent":0.6565161667},{"date":1548979200000,"location":"British Columbia","count_value":484000,"percent":0.4193396354},{"date":1548979200000,"location":"Manitoba","count_value":128000,"percent":0.1190120979},{"date":1548979200000,"location":"New Brunswick","count_value":127000,"percent":0.115282374},{"date":1548979200000,"location":"Newfoundland and Labrador","count_value":111000,"percent":0.1044322682},{"date":1548979200000,"location":"Nova Scotia","count_value":121000,"percent":0.1112135843},{"date":1548979200000,"location":"Ontario","count_value":1751000,"percent":1.492652444},{"date":1548979200000,"location":"Prince Edward Island","count_value":28000,"percent":0.0312788206},{"date":1548979200000,"location":"Quebec","count_value":1008000,"percent":0.8648721044},{"date":1548979200000,"location":"Saskatchewan","count_value":130000,"percent":0.1174015353},{"date":1551398400000,"location":"Alberta","count_value":699000,"percent":0.6013332067},{"date":1551398400000,"location":"British Columbia","count_value":465000,"percent":0.4041664406},{"date":1551398400000,"location":"Manitoba","count_value":120000,"percent":0.1110440514},{"date":1551398400000,"location":"New Brunswick","count_value":109000,"percent":0.1034150708},{"date":1551398400000,"location":"Newfoundland and Labrador","count_value":108000,"percent":0.1001091792},{"date":1551398400000,"location":"Nova Scotia","count_value":114000,"percent":0.104008436},{"date":1551398400000,"location":"Ontario","count_value":1957000,"percent":1.668203765},{"date":1551398400000,"location":"Prince Edward Island","count_value":24000,"percent":0.0293291922},{"date":1551398400000,"location":"Quebec","count_value":970000,"percent":0.8303721586},{"date":1551398400000,"location":"Saskatchewan","count_value":107000,"percent":0.1023978734},{"date":1554076800000,"location":"Alberta","count_value":684000,"percent":0.5891268377},{"date":1554076800000,"location":"British Columbia","count_value":482000,"percent":0.4191701025},{"date":1554076800000,"location":"Manitoba","count_value":128000,"percent":0.116214805},{"date":1554076800000,"location":"New Brunswick","count_value":113000,"percent":0.1024826398},{"date":1554076800000,"location":"Newfoundland and Labrador","count_value":106000,"percent":0.0991767482},{"date":1554076800000,"location":"Nova Scotia","count_value":123000,"percent":0.1124003147},{"date":1554076800000,"location":"Ontario","count_value":1881000,"percent":1.6042898606},{"date":1554076800000,"location":"Prince Edward Island","count_value":25000,"percent":0.0294139587},{"date":1554076800000,"location":"Quebec","count_value":872000,"percent":0.7478944013},{"date":1554076800000,"location":"Saskatchewan","count_value":127000,"percent":0.1157909727},{"date":1556668800000,"location":"Alberta","count_value":696000,"percent":0.5980273151},{"date":1556668800000,"location":"British Columbia","count_value":458000,"percent":0.3989956871},{"date":1556668800000,"location":"Manitoba","count_value":124000,"percent":0.1128241469},{"date":1556668800000,"location":"New Brunswick","count_value":95000,"percent":0.0895133728},{"date":1556668800000,"location":"Newfoundland and Labrador","count_value":106000,"percent":0.0989224489},{"date":1556668800000,"location":"Nova Scotia","count_value":104000,"percent":0.0955317908},{"date":1556668800000,"location":"Ontario","count_value":1753000,"percent":1.4949411382},{"date":1556668800000,"location":"Prince Edward Island","count_value":17000,"percent":0.0211916129},{"date":1556668800000,"location":"Quebec","count_value":792000,"percent":0.6790640427},{"date":1556668800000,"location":"Saskatchewan","count_value":122000,"percent":0.111722183},{"date":1559347200000,"location":"Alberta","count_value":656000,"percent":0.5649683991},{"date":1559347200000,"location":"British Columbia","count_value":437000,"percent":0.380008002},{"date":1559347200000,"location":"Manitoba","count_value":122000,"percent":0.1134175121},{"date":1559347200000,"location":"New Brunswick","count_value":86000,"percent":0.0815453263},{"date":1559347200000,"location":"Newfoundland and Labrador","count_value":100000,"percent":0.0949384256},{"date":1559347200000,"location":"Nova Scotia","count_value":105000,"percent":0.0981595508},{"date":1559347200000,"location":"Ontario","count_value":1733000,"percent":1.478581213},{"date":1559347200000,"location":"Prince Edward Island","count_value":14000,"percent":0.0189876851},{"date":1559347200000,"location":"Quebec","count_value":753000,"percent":0.6467680247},{"date":1559347200000,"location":"Saskatchewan","count_value":98000,"percent":0.0905305702},{"date":1561939200000,"location":"Alberta","count_value":778000,"percent":0.669909266},{"date":1561939200000,"location":"British Columbia","count_value":429000,"percent":0.3726333207},{"date":1561939200000,"location":"Manitoba","count_value":150000,"percent":0.1382540824},{"date":1561939200000,"location":"New Brunswick","count_value":99000,"percent":0.0943450605},{"date":1561939200000,"location":"Newfoundland and Labrador","count_value":111000,"percent":0.1007025443},{"date":1561939200000,"location":"Nova Scotia","count_value":128000,"percent":0.1187577985},{"date":1561939200000,"location":"Ontario","count_value":1940000,"percent":1.6548954321},{"date":1561939200000,"location":"Prince Edward Island","count_value":15000,"percent":0.0196658167},{"date":1561939200000,"location":"Quebec","count_value":838000,"percent":0.7204300711},{"date":1561939200000,"location":"Saskatchewan","count_value":136000,"percent":0.1236742527},{"date":1564617600000,"location":"Alberta","count_value":797000,"percent":0.6835566647},{"date":1564617600000,"location":"British Columbia","count_value":551000,"percent":0.4757940921},{"date":1564617600000,"location":"Manitoba","count_value":152000,"percent":0.138932214},{"date":1564617600000,"location":"New Brunswick","count_value":103000,"percent":0.0981595508},{"date":1564617600000,"location":"Newfoundland and Labrador","count_value":106000,"percent":0.1007873108},{"date":1564617600000,"location":"Nova Scotia","count_value":155000,"percent":0.1398646449},{"date":1564617600000,"location":"Ontario","count_value":1890000,"percent":1.6115797754},{"date":1564617600000,"location":"Prince Edward Island","count_value":13000,"percent":0.0172923561},{"date":1564617600000,"location":"Quebec","count_value":834000,"percent":0.7157679162},{"date":1564617600000,"location":"Saskatchewan","count_value":125000,"percent":0.1151128411},{"date":1567296000000,"location":"Alberta","count_value":626000,"percent":0.5377583681},{"date":1567296000000,"location":"British Columbia","count_value":493000,"percent":0.4282401128},{"date":1567296000000,"location":"Manitoba","count_value":109000,"percent":0.1018892747},{"date":1567296000000,"location":"New Brunswick","count_value":80000,"percent":0.0774765366},{"date":1567296000000,"location":"Newfoundland and Labrador","count_value":82000,"percent":0.0784089676},{"date":1567296000000,"location":"Nova Scotia","count_value":122000,"percent":0.1130784463},{"date":1567296000000,"location":"Ontario","count_value":1554000,"percent":1.3263406662},{"date":1567296000000,"location":"Prince Edward Island","count_value":13000,"percent":0.0185638529},{"date":1567296000000,"location":"Quebec","count_value":763000,"percent":0.6527016763},{"date":1567296000000,"location":"Saskatchewan","count_value":103000,"percent":0.0966337547},{"date":1569888000000,"location":"Alberta","count_value":660000,"percent":0.5687828894},{"date":1569888000000,"location":"British Columbia","count_value":470000,"percent":0.4067942006},{"date":1569888000000,"location":"Manitoba","count_value":118000,"percent":0.1068057289},{"date":1569888000000,"location":"New Brunswick","count_value":82000,"percent":0.0790023328},{"date":1569888000000,"location":"Newfoundland and Labrador","count_value":82000,"percent":0.0793413986},{"date":1569888000000,"location":"Nova Scotia","count_value":137000,"percent":0.1241828514},{"date":1569888000000,"location":"Ontario","count_value":1489000,"percent":1.2734464005},{"date":1569888000000,"location":"Prince Edward Island","count_value":16000,"percent":0.0198353496},{"date":1569888000000,"location":"Quebec","count_value":761000,"percent":0.6560923344},{"date":1569888000000,"location":"Saskatchewan","count_value":97000,"percent":0.0893438399},{"date":1572566400000,"location":"Alberta","count_value":683000,"percent":0.5874315087},{"date":1572566400000,"location":"British Columbia","count_value":539000,"percent":0.4661307166},{"date":1572566400000,"location":"Manitoba","count_value":131000,"percent":0.1203683611},{"date":1572566400000,"location":"New Brunswick","count_value":85000,"percent":0.082053925},{"date":1572566400000,"location":"Newfoundland and Labrador","count_value":91000,"percent":0.0841730863},{"date":1572566400000,"location":"Nova Scotia","count_value":148000,"percent":0.1334223946},{"date":1572566400000,"location":"Ontario","count_value":1581000,"percent":1.3483799436},{"date":1572566400000,"location":"Prince Edward Island","count_value":15000,"percent":0.0206830142},{"date":1572566400000,"location":"Quebec","count_value":882000,"percent":0.7573034775},{"date":1572566400000,"location":"Saskatchewan","count_value":124000,"percent":0.1142651766},{"date":1575158400000,"location":"Alberta","count_value":659000,"percent":0.5673418597},{"date":1575158400000,"location":"British Columbia","count_value":451000,"percent":0.3904342755},{"date":1575158400000,"location":"Manitoba","count_value":111000,"percent":0.104008436},{"date":1575158400000,"location":"New Brunswick","count_value":86000,"percent":0.0792566321},{"date":1575158400000,"location":"Newfoundland and Labrador","count_value":100000,"percent":0.0940907611},{"date":1575158400000,"location":"Nova Scotia","count_value":133000,"percent":0.1218093908},{"date":1575158400000,"location":"Ontario","count_value":1409000,"percent":1.2028359464},{"date":1575158400000,"location":"Prince Edward Island","count_value":18000,"percent":0.0233107742},{"date":1575158400000,"location":"Quebec","count_value":861000,"percent":0.738824391},{"date":1575158400000,"location":"Saskatchewan","count_value":112000,"percent":0.1029064721},{"date":1577836800000,"location":"Alberta","count_value":757000,"percent":0.6508368144},{"date":1577836800000,"location":"British Columbia","count_value":467000,"percent":0.4032340097},{"date":1577836800000,"location":"Manitoba","count_value":124000,"percent":0.1156214398},{"date":1577836800000,"location":"New Brunswick","count_value":113000,"percent":0.1057885314},{"date":1577836800000,"location":"Newfoundland and Labrador","count_value":112000,"percent":0.1032455379},{"date":1577836800000,"location":"Nova Scotia","count_value":136000,"percent":0.1261324798},{"date":1577836800000,"location":"Ontario","count_value":1590000,"percent":1.3585519178},{"date":1577836800000,"location":"Prince Edward Island","count_value":23000,"percent":0.0268709651},{"date":1577836800000,"location":"Quebec","count_value":934000,"percent":0.8006191342},{"date":1577836800000,"location":"Saskatchewan","count_value":124000,"percent":0.1134175121},{"date":1580515200000,"location":"Alberta","count_value":733000,"percent":0.6315948299},{"date":1580515200000,"location":"British Columbia","count_value":546000,"percent":0.472572967},{"date":1580515200000,"location":"Manitoba","count_value":137000,"percent":0.1259629469},{"date":1580515200000,"location":"New Brunswick","count_value":101000,"percent":0.0957013237},{"date":1580515200000,"location":"Newfoundland and Labrador","count_value":111000,"percent":0.1018045082},{"date":1580515200000,"location":"Nova Scotia","count_value":158000,"percent":0.1413056746},{"date":1580515200000,"location":"Ontario","count_value":1762000,"percent":1.500535724},{"date":1580515200000,"location":"Prince Edward Island","count_value":21000,"percent":0.0256842348},{"date":1580515200000,"location":"Quebec","count_value":884000,"percent":0.7623046981},{"date":1580515200000,"location":"Saskatchewan","count_value":139000,"percent":0.1241828514},{"date":1583020800000,"location":"Alberta","count_value":852000,"percent":0.7323821407},{"date":1583020800000,"location":"British Columbia","count_value":708000,"percent":0.6077754571},{"date":1583020800000,"location":"Manitoba","count_value":151000,"percent":0.1367282862},{"date":1583020800000,"location":"New Brunswick","count_value":116000,"percent":0.1065514295},{"date":1583020800000,"location":"Newfoundland and Labrador","count_value":108000,"percent":0.1008720773},{"date":1583020800000,"location":"Nova Scotia","count_value":171000,"percent":0.1538511094},{"date":1583020800000,"location":"Ontario","count_value":2174000,"percent":1.8506211686},{"date":1583020800000,"location":"Prince Edward Island","count_value":25000,"percent":0.0281424619},{"date":1583020800000,"location":"Quebec","count_value":1191000,"percent":1.0199099441},{"date":1583020800000,"location":"Saskatchewan","count_value":150000,"percent":0.1386779146},{"date":1585699200000,"location":"Alberta","count_value":1072000,"percent":0.9172577714},{"date":1585699200000,"location":"British Columbia","count_value":813000,"percent":0.6985603266},{"date":1585699200000,"location":"Manitoba","count_value":212000,"percent":0.1914874139},{"date":1585699200000,"location":"New Brunswick","count_value":142000,"percent":0.1299469701},{"date":1585699200000,"location":"Newfoundland and Labrador","count_value":118000,"percent":0.1068057289},{"date":1585699200000,"location":"Nova Scotia","count_value":169000,"percent":0.1513081159},{"date":1585699200000,"location":"Ontario","count_value":2549000,"percent":2.17044499},{"date":1585699200000,"location":"Prince Edward Island","count_value":23000,"percent":0.0282272283},{"date":1585699200000,"location":"Quebec","count_value":1922000,"percent":1.6386202734},{"date":1585699200000,"location":"Saskatchewan","count_value":198000,"percent":0.1756360875},{"date":1588291200000,"location":"Alberta","count_value":1370000,"percent":1.1697770303},{"date":1588291200000,"location":"British Columbia","count_value":1043000,"percent":0.8946251288},{"date":1588291200000,"location":"Manitoba","count_value":227000,"percent":0.2025070526},{"date":1588291200000,"location":"New Brunswick","count_value":148000,"percent":0.135372023},{"date":1588291200000,"location":"Newfoundland and Labrador","count_value":131000,"percent":0.1208769598},{"date":1588291200000,"location":"Nova Scotia","count_value":192000,"percent":0.1728387946},{"date":1588291200000,"location":"Ontario","count_value":3470000,"percent":2.9539413009},{"date":1588291200000,"location":"Prince Edward Island","count_value":25000,"percent":0.0294139587},{"date":1588291200000,"location":"Quebec","count_value":1673000,"percent":1.4249240493},{"date":1588291200000,"location":"Saskatchewan","count_value":231000,"percent":0.2053043455},{"date":1590969600000,"location":"Alberta","count_value":1353000,"percent":1.1560448652},{"date":1590969600000,"location":"British Columbia","count_value":1243000,"percent":1.0650056963},{"date":1590969600000,"location":"Manitoba","count_value":226000,"percent":0.2025070526},{"date":1590969600000,"location":"New Brunswick","count_value":116000,"percent":0.1074838605},{"date":1590969600000,"location":"Newfoundland and Labrador","count_value":126000,"percent":0.1164691043},{"date":1590969600000,"location":"Nova Scotia","count_value":202000,"percent":0.1801287094},{"date":1590969600000,"location":"Ontario","count_value":3490000,"percent":2.9687754299},{"date":1590969600000,"location":"Prince Edward Island","count_value":27000,"percent":0.0294139587},{"date":1590969600000,"location":"Quebec","count_value":1580000,"percent":1.3507534042},{"date":1590969600000,"location":"Saskatchewan","count_value":217000,"percent":0.1948780719},{"date":1593561600000,"location":"Alberta","count_value":1303000,"percent":1.1123053762},{"date":1593561600000,"location":"British Columbia","count_value":1190000,"percent":1.0207576086},{"date":1593561600000,"location":"Manitoba","count_value":232000,"percent":0.2076778061},{"date":1593561600000,"location":"New Brunswick","count_value":126000,"percent":0.1153671405},{"date":1593561600000,"location":"Newfoundland and Labrador","count_value":131000,"percent":0.1215550914},{"date":1593561600000,"location":"Nova Scotia","count_value":192000,"percent":0.1713129984},{"date":1593561600000,"location":"Ontario","count_value":3782000,"percent":3.2157001031},{"date":1593561600000,"location":"Prince Edward Island","count_value":28000,"percent":0.0323807845},{"date":1593561600000,"location":"Quebec","count_value":1580000,"percent":1.3480408778},{"date":1593561600000,"location":"Saskatchewan","count_value":200000,"percent":0.1797048771},{"date":1596240000000,"location":"Alberta","count_value":1322000,"percent":1.130106331},{"date":1596240000000,"location":"British Columbia","count_value":1131000,"percent":0.9692196061},{"date":1596240000000,"location":"Manitoba","count_value":236000,"percent":0.207847339},{"date":1596240000000,"location":"New Brunswick","count_value":121000,"percent":0.1118917159},{"date":1596240000000,"location":"Newfoundland and Labrador","count_value":122000,"percent":0.1125698476},{"date":1596240000000,"location":"Nova Scotia","count_value":200000,"percent":0.17987441},{"date":1596240000000,"location":"Ontario","count_value":3770000,"percent":3.2050195302},{"date":1596240000000,"location":"Prince Edward Island","count_value":18000,"percent":0.0252604025},{"date":1596240000000,"location":"Quebec","count_value":1615000,"percent":1.3789806326},{"date":1596240000000,"location":"Saskatchewan","count_value":190000,"percent":0.1708043997},{"date":1598918400000,"location":"Alberta","count_value":1150000,"percent":0.985155699},{"date":1598918400000,"location":"British Columbia","count_value":855000,"percent":0.7357727988},{"date":1598918400000,"location":"Manitoba","count_value":178000,"percent":0.159784761},{"date":1598918400000,"location":"New Brunswick","count_value":109000,"percent":0.1023131069},{"date":1598918400000,"location":"Newfoundland and Labrador","count_value":120000,"percent":0.1121460153},{"date":1598918400000,"location":"Nova Scotia","count_value":118000,"percent":0.1095182553},{"date":1598918400000,"location":"Ontario","count_value":3108000,"percent":2.6448828189},{"date":1598918400000,"location":"Prince Edward Island","count_value":18000,"percent":0.0219545109},{"date":1598918400000,"location":"Quebec","count_value":1196000,"percent":1.0244025661},{"date":1598918400000,"location":"Saskatchewan","count_value":132000,"percent":0.121470325}]'

In [24]:
'''
dic = { 
locations = 
    [{"Newfoundland and Labrador": [123,123,123]},
    {"Prince Edward Island": [123,123,123]}]}
    },
    
    [{"Newfoundland and Labrador": [123,123,123]},
    {"Prince Edward Island": [123,123,123]}]},
    }

dates = {xxxx,yyyyy,zzzzz}

'''

'\ndic = { \nlocations = \n    [{"Newfoundland and Labrador": [123,123,123]},\n    {"Prince Edward Island": [123,123,123]}]}\n    },\n    \n    [{"Newfoundland and Labrador": [123,123,123]},\n    {"Prince Edward Island": [123,123,123]}]},\n    }\n\ndates = {xxxx,yyyyy,zzzzz}\n\n'

In [25]:
final

          date                   location  count_value   percent
0   2019-01-01                    Alberta       707000  0.606758
1   2019-01-01           British Columbia       524000  0.452314
2   2019-01-01                   Manitoba       143000  0.129777
3   2019-01-01              New Brunswick       115000  0.107653
4   2019-01-01  Newfoundland and Labrador       115000  0.104771
..         ...                        ...          ...       ...
205 2020-09-01                Nova Scotia       118000  0.109518
206 2020-09-01                    Ontario      3108000  2.644883
207 2020-09-01       Prince Edward Island        18000  0.021955
208 2020-09-01                     Quebec      1196000  1.024403
209 2020-09-01               Saskatchewan       132000  0.121470

[210 rows x 4 columns]

In [26]:
#pivot data for dictionary:
'''
date = [ ...... ]
Alberta = [.....]
BC = [....... ]
'''
final.pivot(index='date' , columns='location', values='count_value')

location,Alberta,British Columbia,Manitoba,New Brunswick,Newfoundland and Labrador,Nova Scotia,Ontario,Prince Edward Island,Quebec,Saskatchewan
date,,,,,,,,,,
2019-01-01,707000,524000,143000,115000,115000,127000,1784000,28000,1000000,128000
2019-02-01,762000,484000,128000,127000,111000,121000,1751000,28000,1008000,130000
2019-03-01,699000,465000,120000,109000,108000,114000,1957000,24000,970000,107000
2019-04-01,684000,482000,128000,113000,106000,123000,1881000,25000,872000,127000
2019-05-01,696000,458000,124000,95000,106000,104000,1753000,17000,792000,122000
2019-06-01,656000,437000,122000,86000,100000,105000,1733000,14000,753000,98000
2019-07-01,778000,429000,150000,99000,111000,128000,1940000,15000,838000,136000
2019-08-01,797000,551000,152000,103000,106000,155000,1890000,13000,834000,125000
2019-09-01,626000,493000,109000,80000,82000,122000,1554000,13000,763000,103000
2019-10-01,660000,470000,118000,82000,82000,137000,1489000,16000,761000,97000
2019-11-01,683000,539000,131000,85000,91000,148000,1581000,15000,882000,124000
2019-12-01,659000,451000,111000,86000,100000,133000,1409000,18000,861000,112000
2020-01-01,757000,467000,124000,113000,112000,136000,1590000,23000,934000,124000
2020-02-01,733000,546000,137000,101000,111000,158000,1762000,21000,884000,139000
2020-03-01,852000,708000,151000,116000,108000,171000,2174000,25000,1191000,150000
2020-04-01,1072000,813000,212000,142000,118000,169000,2549000,23000,1922000,198000
2020-05-01,1370000,1043000,227000,148000,131000,192000,3470000,25000,1673000,231000
2020-06-01,1353000,1243000,226000,116000,126000,202000,3490000,27000,1580000,217000
2020-07-01,1303000,1190000,232000,126000,131000,192000,3782000,28000,1580000,200000
2020-08-01,1322000,1131000,236000,121000,122000,200000,3770000,18000,1615000,190000
2020-09-01,1150000,855000,178000,109000,120000,118000,3108000,18000,1196000,132000

In [27]:
(final.pivot(index='date' , columns='location', values='count_value')).to_csv('pivot_loc_dataSet.csv', sep = ',', index=True)

In [31]:
#CHECK UNIQUE VALUES OF COLUMN
#------------------------------
listvalcol = set(list(test.iloc[:,2]))
listvalcol

{'Future job starter',
 'Looked for full-time work',
 'Looked for part-time work',
 'Looked-checked with employers directly',
 'Looked-checked with friends or relatives',
 'Looked-checked with private employment agency',
 'Looked-checked with union',
 'Looked-looked at job ads',
 'Looked-placed or answered ads',
 'Looked-used other methods',
 'Looked-used public employment agency',
 'On temporary layoff',
 'Total unemployed'}